<div class="motorized">
    <app-navbar-right></app-navbar-right>
    <app-heading>ממונעים</app-heading>
    <hr>
    <img *ngIf="loader" class="imageRobo" src="https://tns-be.herokuapp.com/backgrounds/loading.gif" alt="טוען">
    <div *ngIf="!loader">
        <div class="aboutMotorized">
            <img class="imageAbout" src="https://tns-be.herokuapp.com/images/right-side-categories/motorized/motorizedLeft.jpg"
                alt="motorizedLeft">
            <p>הכירו את קטגוריית הממונעים הכי מדליקה שיש!
                מכוניות חשמליות, טרקטורונים, אופנועים, משאיות ועוד מגוון רחב של מוצרים גם לבנות וגם לבנים.
                כל הממונעים הכי חדשים במקום אחד! אז למה אתם מחכים</p>
            <img class="imageAbout" src="https://tns-be.herokuapp.com/images/right-side-categories/motorized/motorizedRight.jpg"
                alt="motorizedRight">
        </div>
        <hr>
        <div class="categoryText">&darr; קטגוריות &darr;</div>
        <mat-tab-group mat-align-tabs="center">
            <mat-tab label="כל המוצרים">
                <div *ngFor="let product of motorizedProducts" class="allProducts">
                    <mat-card>
                        <mat-card-header>
                            <mat-card-title>{{product.Product_Name}}</mat-card-title>
                        </mat-card-header>
                        <img mat-card-image src="https://toysnonstop-images.s3.eu-west-3.amazonaws.com/assets/products/{{product.Product_Image}}" alt="מוצרים">
                        <div class="price">₪{{product.Product_Price}} :מחיר</div>
                        <app-product-actions [product]="product"></app-product-actions>
                    </mat-card>
                </div>
            </mat-tab>
            <mat-tab label="מכוניות ספורט">
                <div *ngFor="let product of motorizedProducts" class="allProducts">
                    <mat-card *ngIf="product.Product_Category==='מכוניות ספורט'">
                        <mat-card-header>
                            <mat-card-title>{{product.Product_Name}}</mat-card-title>
                        </mat-card-header>
                        <img mat-card-image src="https://toysnonstop-images.s3.eu-west-3.amazonaws.com/assets/products/{{product.Product_Image}}" alt="מוצרים">
                        <div class="price">₪{{product.Product_Price}} :מחיר</div>
                        <app-product-actions [product]="product"></app-product-actions>
                    </mat-card>
                </div>
            </mat-tab>
            <mat-tab label="מכוניות לבנות">
                <div *ngFor="let product of motorizedProducts" class="allProducts">
                    <mat-card *ngIf="product.Product_Category==='מכוניות לבנות'">
                        <mat-card-header>
                            <mat-card-title>{{product.Product_Name}}</mat-card-title>
                        </mat-card-header>
                        <img mat-card-image src="https://toysnonstop-images.s3.eu-west-3.amazonaws.com/assets/products/{{product.Product_Image}}" alt="מוצרים">
                        <div class="price">₪{{product.Product_Price}} :מחיר</div>
                        <app-product-actions [product]="product"></app-product-actions>
                    </mat-card>
                </div>
            </mat-tab>
            <mat-tab label="אופנועים">
                <div *ngFor="let product of motorizedProducts" class="allProducts">
                    <mat-card *ngIf="product.Product_Category==='אופנועים'">
                        <mat-card-header>
                            <mat-card-title>{{product.Product_Name}}</mat-card-title>
                        </mat-card-header>
                        <img mat-card-image src="https://toysnonstop-images.s3.eu-west-3.amazonaws.com/assets/products/{{product.Product_Image}}" alt="מוצרים">
                        <div class="price">₪{{product.Product_Price}} :מחיר</div>
                        <app-product-actions [product]="product"></app-product-actions>
                    </mat-card>
                </div>
            </mat-tab>
            <mat-tab label="טרקטורונים">
                <div *ngFor="let product of motorizedProducts" class="allProducts">
                    <mat-card *ngIf="product.Product_Category==='טרקטורונים'">
                        <mat-card-header>
                            <mat-card-title>{{product.Product_Name}}</mat-card-title>
                        </mat-card-header>
                        <img mat-card-image src="https://toysnonstop-images.s3.eu-west-3.amazonaws.com/assets/products/{{product.Product_Image}}" alt="מוצרים">
                        <div class="price">₪{{product.Product_Price}} :מחיר</div>
                        <app-product-actions [product]="product"></app-product-actions>
                    </mat-card>
                </div>
            </mat-tab>
            <mat-tab label="משאיות">
                <div *ngFor="let product of motorizedProducts" class="allProducts">
                    <mat-card *ngIf="product.Product_Category==='משאיות'">
                        <mat-card-header>
                            <mat-card-title>{{product.Product_Name}}</mat-card-title>
                        </mat-card-header>
                        <img mat-card-image src="https://toysnonstop-images.s3.eu-west-3.amazonaws.com/assets/products/{{product.Product_Image}}" alt="מוצרים">
                        <div class="price">₪{{product.Product_Price}} :מחיר</div>
                        <app-product-actions [product]="product"></app-product-actions>
                    </mat-card>
                </div>
            </mat-tab>
        </mat-tab-group>
    </div>
</div>
