<div class="ages18-36">
    <app-navbar-age-search></app-navbar-age-search>
    <app-heading>גילאי 18-36 חודשיים</app-heading>
    <hr>
    <!-- Loader -->
    <img *ngIf="loader" class="imageRobo" src="https://tns-be.herokuapp.com/backgrounds/loading.gif" alt="טוען">
    <!-- Filter products -->
    <div class="filterNav" *ngIf="!loader">
        <div class="header-filter"> :סינון מוצרים לפי</div>
        <button class="filterSliderBtn" mat-raised-button color="accent"
            (click)="getSliderValue(sliderVal.value)">סנן</button>
        <span class="text-slider">₪1</span>
        <mat-slider min="1" max="1700" step="1" thumbLabel value="1" tickInterval="1" #sliderVal></mat-slider><span
            class="text-slider">₪1700</span>
        <button class="filterSliderBtn" mat-raised-button (click)="fromLowToHigh()">מוצרים מהזול
            ליקר</button>
        <button class="filterSliderBtn" mat-raised-button (click)="fromHighToLow()">מוצרים מהיקר
            לזול</button>
        <div class="filterPrice" *ngIf="filterPrice">₪{{filterPrice}} :סינון מחיר עד</div>
    </div>
    <hr>
    <!-- All Products -->
    <div *ngIf="!filterSlider && !filterHighToLow && !filterLowToHigh">
        <div *ngFor="let product of productsUntil36Months" class="allProducts">
            <mat-card>
                <mat-card-header>
                    <mat-card-title>{{product.Product_Name}}</mat-card-title>
                </mat-card-header>
                <img mat-card-image src="https://tns-be.herokuapp.com/images/products/{{product.Product_Image}}" alt="מוצרים">
                <div class="price">₪{{product.Product_Price}} :מחיר</div>
                <app-product-actions [product]="product"></app-product-actions>
            </mat-card>
        </div>
    </div>
    <!-- Filter by slider -->
    <div *ngIf="filterSlider">
        <div *ngFor="let product of productsUntil36Months" class="allProducts">
            <mat-card>
                <mat-card-header>
                    <mat-card-title>{{product.Product_Name}}</mat-card-title>
                </mat-card-header>
                <img mat-card-image src="https://tns-be.herokuapp.com/images/products/{{product.Product_Image}}" alt="מוצרים">
                <div class="price">₪{{product.Product_Price}} :מחיר</div>
                <app-product-actions [product]="product"></app-product-actions>
            </mat-card>
        </div>
    </div>
    <!-- Filter from high price to low -->
    <div *ngIf="filterHighToLow">
        <div *ngFor="let product of productsUntil36Months" class="allProducts">
            <mat-card>
                <mat-card-header>
                    <mat-card-title>{{product.Product_Name}}</mat-card-title>
                </mat-card-header>
                <img mat-card-image src="https://tns-be.herokuapp.com/images/products/{{product.Product_Image}}" alt="מוצרים">
                <div class="price">₪{{product.Product_Price}} :מחיר</div>
                <app-product-actions [product]="product"></app-product-actions>
            </mat-card>
        </div>
    </div>
    <!-- Filter from low price to higher price -->
    <div *ngIf="filterLowToHigh">
        <div *ngFor="let product of productsUntil36Months" class="allProducts">
            <mat-card>
                <mat-card-header>
                    <mat-card-title>{{product.Product_Name}}</mat-card-title>
                </mat-card-header>
                <img mat-card-image src="https://tns-be.herokuapp.com/images/products/{{product.Product_Image}}" alt="מוצרים">
                <div class="price">₪{{product.Product_Price}} :מחיר</div>
                <app-product-actions [product]="product"></app-product-actions>
            </mat-card>
        </div>
    </div>
</div>
