<div class="onRemote">
    <app-navbar-right></app-navbar-right>
    <app-heading>על שלט</app-heading>
    <hr>
    <img *ngIf="loader" class="imageRobo" src="/assets/backgrounds/loading.gif" alt="טוען">
    <div *ngIf="!loader">
        <div class="aboutRemote">
            <img class="imageAbout" src="/assets/images/right-side-categories/on-remote/onRemote.jpg" alt="onRemote">
            <p>הכירו את קטגוריית הצעצועים והגאדג'טים הכי מדליקה שיש!
                צעצועים וגאדג'טים מיוחדים ומדליקים, מכוניות על שלט, טיסנים ורחפנים,
                רובוטים, ג'יפים, אופנועים ועוד...
                כל הצעצועים הכי חדשניים במקום אחד!
                אז למה אתם מחכים</p>
            <img class="imageAbout" src="/assets/images/right-side-categories/on-remote/remoteLeft.jpg" alt="onRemote">
        </div>
        <hr>
        <div class="categoryText">&darr; קטגוריות &darr;</div>
        <mat-tab-group mat-align-tabs="center">
            <mat-tab label="כל המוצרים">
                <div *ngFor="let product of onRemoteProducts" class="allProducts">
                    <mat-card>
                        <mat-card-header>
                            <mat-card-title>{{product.Product_Name}}</mat-card-title>
                        </mat-card-header>
                        <img mat-card-image src="/assets/images/products/{{product.Product_Image}}" alt="מוצרים">
                        <div class="price">₪{{product.Product_Price}} :מחיר</div>
                        <app-product-actions [product]="product"></app-product-actions>
                    </mat-card>
                </div>
            </mat-tab>
            <mat-tab label="מכוניות על שלט">
                <div *ngFor="let product of onRemoteProducts" class="allProducts">
                    <mat-card *ngIf="product.Product_Category==='מכוניות על שלט'">
                        <mat-card-header>
                            <mat-card-title>{{product.Product_Name}}</mat-card-title>
                        </mat-card-header>
                        <img mat-card-image src="/assets/images/products/{{product.Product_Image}}" alt="מוצרים">
                        <div class="price">₪{{product.Product_Price}} :מחיר</div>
                        <app-product-actions [product]="product"></app-product-actions>
                    </mat-card>
                </div>
            </mat-tab>
            <mat-tab label="גיפים על שלט">
                <div *ngFor="let product of onRemoteProducts" class="allProducts">
                    <mat-card *ngIf="product.Product_Category==='גיפים על שלט'">
                        <mat-card-header>
                            <mat-card-title>{{product.Product_Name}}</mat-card-title>
                        </mat-card-header>
                        <img mat-card-image src="/assets/images/products/{{product.Product_Image}}" alt="מוצרים">
                        <div class="price">₪{{product.Product_Price}} :מחיר</div>
                        <app-product-actions [product]="product"></app-product-actions>
                    </mat-card>
                </div>
            </mat-tab>
            <mat-tab label="רחפנים על שלט">
                <div *ngFor="let product of onRemoteProducts" class="allProducts">
                    <mat-card *ngIf="product.Product_Category==='רחפנים על שלט'">
                        <mat-card-header>
                            <mat-card-title>{{product.Product_Name}}</mat-card-title>
                        </mat-card-header>
                        <img mat-card-image src="/assets/images/products/{{product.Product_Image}}" alt="מוצרים">
                        <div class="price">₪{{product.Product_Price}} :מחיר</div>
                        <app-product-actions [product]="product"></app-product-actions>
                    </mat-card>
                </div>
            </mat-tab>
            <mat-tab label="אופנועים על שלט">
                <div *ngFor="let product of onRemoteProducts" class="allProducts">
                    <mat-card *ngIf="product.Product_Category==='אופנועים על שלט'">
                        <mat-card-header>
                            <mat-card-title>{{product.Product_Name}}</mat-card-title>
                        </mat-card-header>
                        <img mat-card-image src="/assets/images/products/{{product.Product_Image}}" alt="מוצרים">
                        <div class="price">₪{{product.Product_Price}} :מחיר</div>
                        <app-product-actions [product]="product"></app-product-actions>
                    </mat-card>
                </div>
            </mat-tab>
            <mat-tab label="רובוטים על שלט">
                <div *ngFor="let product of onRemoteProducts" class="allProducts">
                    <mat-card *ngIf="product.Product_Category==='רובוטים על שלט'">
                        <mat-card-header>
                            <mat-card-title>{{product.Product_Name}}</mat-card-title>
                        </mat-card-header>
                        <img mat-card-image src="/assets/images/products/{{product.Product_Image}}" alt="מוצרים">
                        <div class="price">₪{{product.Product_Price}} :מחיר</div>
                        <app-product-actions [product]="product"></app-product-actions>
                    </mat-card>
                </div>
            </mat-tab>
        </mat-tab-group>
    </div>
</div>
