<div class="onRemote">
    <app-navbar-right></app-navbar-right>
    <app-heading>על שלט</app-heading>
    <hr>
    <img *ngIf="loader" class="imageRobo" src="/assets/backgrounds/loading.gif" alt="טוען">
    <div *ngIf="!loader">
        <div class="aboutRemote">
            <img class="imageAbout" src="/assets/images/right-side-categories/on-remote/onRemote.jpg" alt="onRemote">
            <p>הכירו את קטגוריית הצעצועים והגאדג'טים הכי מדליקה שיש!
                צעצועים וגאדג'טים מיוחדים ומדליקים, מכוניות על שלט, טיסנים ורחפנים,
                רובוטים, ג'יפים, אופנועים ועוד...
                כל הצעצועים הכי חדשניים במקום אחד!
                אז למה אתם מחכים</p>
            <img class="imageAbout" src="/assets/images/right-side-categories/on-remote/remoteLeft.jpg" alt="onRemote">
        </div>
        <hr>
        <div class="categoryText">&darr; קטגוריות &darr;</div>
        <mat-tab-group mat-align-tabs="center">
            <mat-tab label="כל המוצרים">
                <div *ngFor="let product of onRemoteProducts" class="allProducts">
                    <mat-card>
                        <mat-card-header>
                            <mat-card-title>{{product.Product_Name}}</mat-card-title>
                        </mat-card-header>
                        <img mat-card-image src="/assets/images/products/{{product.Product_Image}}" alt="מוצרים">
                        <div class="price">₪{{product.Product_Price}} :מחיר</div>
                        <mat-card-actions>
                            <div class="number-input">
                                <button
                                    onclick="this.parentNode.querySelector('input[type=number]').stepDown()"></button>
                                <input class="amountInput" type="number" #amount min="1" max="10" value="1" step="1"
                                    required>
                                <button class="plus"
                                    onclick="this.parentNode.querySelector('input[type=number]').stepUp()"></button>
                            </div>
                            <br>
                            <button mat-raised-button *ngIf="product.Product_In_Stock != 0" class="addToCartBtn">הוספה לעגלה</button>
                            <button mat-raised-button class="soldOut" *ngIf="product.Product_In_Stock === 0">
                                אזל המלאי
                            </button>
                            <button mat-raised-button color="primary" (click)="onDetailsClicked(product)">מידע נוסף</button>
                        </mat-card-actions>
                    </mat-card>
                </div>
            </mat-tab>
            <mat-tab label="מכוניות על שלט">
                <div *ngFor="let product of onRemoteProducts" class="allProducts">
                    <mat-card *ngIf="product.Product_Category==='מכוניות על שלט'">
                        <mat-card-header>
                            <mat-card-title>{{product.Product_Name}}</mat-card-title>
                        </mat-card-header>
                        <img mat-card-image src="/assets/images/products/{{product.Product_Image}}" alt="מוצרים">
                        <div class="price">₪{{product.Product_Price}} :מחיר</div>
                        <mat-card-actions>
                            <div class="number-input">
                                <button
                                    onclick="this.parentNode.querySelector('input[type=number]').stepDown()"></button>
                                <input class="amountInput" type="number" #amount min="1" max="10" value="1" step="1"
                                    required>
                                <button class="plus"
                                    onclick="this.parentNode.querySelector('input[type=number]').stepUp()"></button>
                            </div>
                            <br>
                            <button mat-raised-button *ngIf="product.Product_In_Stock != 0" class="addToCartBtn">הוספה לעגלה</button>
                            <button mat-raised-button class="soldOut" *ngIf="product.Product_In_Stock === 0">
                                אזל המלאי
                            </button>
                            <button mat-raised-button color="primary" (click)="onDetailsClicked(product)">מידע נוסף</button>
                        </mat-card-actions>
                    </mat-card>
                </div>
            </mat-tab>
            <mat-tab label="גיפים על שלט">
                <div *ngFor="let product of onRemoteProducts" class="allProducts">
                    <mat-card *ngIf="product.Product_Category==='גיפים על שלט'">
                        <mat-card-header>
                            <mat-card-title>{{product.Product_Name}}</mat-card-title>
                        </mat-card-header>
                        <img mat-card-image src="/assets/images/products/{{product.Product_Image}}" alt="מוצרים">
                        <div class="price">₪{{product.Product_Price}} :מחיר</div>
                        <mat-card-actions>
                            <div class="number-input">
                                <button
                                    onclick="this.parentNode.querySelector('input[type=number]').stepDown()"></button>
                                <input class="amountInput" type="number" #amount min="1" max="10" value="1" step="1"
                                    required>
                                <button class="plus"
                                    onclick="this.parentNode.querySelector('input[type=number]').stepUp()"></button>
                            </div>
                            <br>
                            <button mat-raised-button *ngIf="product.Product_In_Stock != 0" class="addToCartBtn">הוספה לעגלה</button>
                            <button mat-raised-button class="soldOut" *ngIf="product.Product_In_Stock === 0">
                                אזל המלאי
                            </button>
                            <button mat-raised-button color="primary" (click)="onDetailsClicked(product)">מידע נוסף</button>
                        </mat-card-actions>
                    </mat-card>
                </div>
            </mat-tab>
            <mat-tab label="רחפנים על שלט">
                <div *ngFor="let product of onRemoteProducts" class="allProducts">
                    <mat-card *ngIf="product.Product_Category==='רחפנים על שלט'">
                        <mat-card-header>
                            <mat-card-title>{{product.Product_Name}}</mat-card-title>
                        </mat-card-header>
                        <img mat-card-image src="/assets/images/products/{{product.Product_Image}}" alt="מוצרים">
                        <div class="price">₪{{product.Product_Price}} :מחיר</div>
                        <mat-card-actions>
                            <div class="number-input">
                                <button
                                    onclick="this.parentNode.querySelector('input[type=number]').stepDown()"></button>
                                <input class="amountInput" type="number" #amount min="1" max="10" value="1" step="1"
                                    required>
                                <button class="plus"
                                    onclick="this.parentNode.querySelector('input[type=number]').stepUp()"></button>
                            </div>
                            <br>
                            <button mat-raised-button *ngIf="product.Product_In_Stock != 0" class="addToCartBtn">הוספה לעגלה</button>
                            <button mat-raised-button class="soldOut" *ngIf="product.Product_In_Stock === 0">
                                אזל המלאי
                            </button>
                            <button mat-raised-button color="primary" (click)="onDetailsClicked(product)">מידע נוסף</button>
                        </mat-card-actions>
                    </mat-card>
                </div>
            </mat-tab>
            <mat-tab label="אופנועים על שלט">
                <div *ngFor="let product of onRemoteProducts" class="allProducts">
                    <mat-card *ngIf="product.Product_Category==='אופנועים על שלט'">
                        <mat-card-header>
                            <mat-card-title>{{product.Product_Name}}</mat-card-title>
                        </mat-card-header>
                        <img mat-card-image src="/assets/images/products/{{product.Product_Image}}" alt="מוצרים">
                        <div class="price">₪{{product.Product_Price}} :מחיר</div>
                        <mat-card-actions>
                            <div class="number-input">
                                <button
                                    onclick="this.parentNode.querySelector('input[type=number]').stepDown()"></button>
                                <input class="amountInput" type="number" #amount min="1" max="10" value="1" step="1"
                                    required>
                                <button class="plus"
                                    onclick="this.parentNode.querySelector('input[type=number]').stepUp()"></button>
                            </div>
                            <br>
                            <button mat-raised-button *ngIf="product.Product_In_Stock != 0" class="addToCartBtn">הוספה לעגלה</button>
                            <button mat-raised-button class="soldOut" *ngIf="product.Product_In_Stock === 0">
                                אזל המלאי
                            </button>
                            <button mat-raised-button color="primary" (click)="onDetailsClicked(product)">מידע נוסף</button>
                        </mat-card-actions>
                    </mat-card>
                </div>
            </mat-tab>
            <mat-tab label="רובוטים על שלט">
                <div *ngFor="let product of onRemoteProducts" class="allProducts">
                    <mat-card *ngIf="product.Product_Category==='רובוטים על שלט'">
                        <mat-card-header>
                            <mat-card-title>{{product.Product_Name}}</mat-card-title>
                        </mat-card-header>
                        <img mat-card-image src="/assets/images/products/{{product.Product_Image}}" alt="מוצרים">
                        <div class="price">₪{{product.Product_Price}} :מחיר</div>
                        <mat-card-actions>
                            <div class="number-input">
                                <button
                                    onclick="this.parentNode.querySelector('input[type=number]').stepDown()"></button>
                                <input class="amountInput" type="number" #amount min="1" max="10" value="1" step="1"
                                    required>
                                <button class="plus"
                                    onclick="this.parentNode.querySelector('input[type=number]').stepUp()"></button>
                            </div>
                            <br>
                            <button mat-raised-button *ngIf="product.Product_In_Stock != 0" class="addToCartBtn">הוספה לעגלה</button>
                            <button mat-raised-button class="soldOut" *ngIf="product.Product_In_Stock === 0">
                                אזל המלאי
                            </button>
                            <button mat-raised-button color="primary" (click)="onDetailsClicked(product)">מידע נוסף</button>
                        </mat-card-actions>
                    </mat-card>
                </div>
            </mat-tab>
        </mat-tab-group>
    </div>
</div>
