<div class="babies">
    <app-navbar-right></app-navbar-right>
    <app-heading>תינוקות</app-heading>
    <hr>
    <img *ngIf="loader" class="imageRobo" src="https://tns-be.herokuapp.com/backgrounds/loading.gif" alt="טוען">
    <div *ngIf="!loader">
        <div class="aboutBabies">
            <img class="imageAbout" src="https://tns-be.herokuapp.com/images/right-side-categories/babies/babiesLeft.jpg" alt="babiesLeft">
            <p>הכירו את קטגוריית התינוקות הכי מדליקה שיש!
                צעצועים, אביזרים ומשחקים מיוחדים ומדליקים, בוסטרים, אביזרי גמילה, הליכונים, אוניברסיטאות ועוד...
                כל הצעצועים והאביזרים הכי חדשים במקום אחד! אז למה אתם מחכים</p>
            <img class="imageAbout" src="https://tns-be.herokuapp.com/images/right-side-categories/babies/babiesRight.jpg" alt="babiesRight">
        </div>
        <hr>
        <div class="categoryText">&darr; קטגוריות &darr;</div>
        <mat-tab-group mat-align-tabs="center">
            <mat-tab label="כל המוצרים">
                <div *ngFor="let product of babiesProducts" class="allProducts">
                    <mat-card>
                        <mat-card-header>
                            <mat-card-title>{{product.Product_Name}}</mat-card-title>
                        </mat-card-header>
                        <img mat-card-image src="https://tns-be.herokuapp.com/images/products/{{product.Product_Image}}" alt="מוצרים">
                        <div class="price">₪{{product.Product_Price}} :מחיר</div>
                        <app-product-actions [product]="product"></app-product-actions>
                    </mat-card>
                </div>
            </mat-tab>
            <mat-tab label="גמילה מחיתולים">
                <div *ngFor="let product of babiesProducts" class="allProducts">
                    <mat-card *ngIf="product.Product_Category==='גמילה מחיתולים'">
                        <mat-card-header>
                            <mat-card-title>{{product.Product_Name}}</mat-card-title>
                        </mat-card-header>
                        <img mat-card-image src="https://tns-be.herokuapp.com/images/products/{{product.Product_Image}}" alt="מוצרים">
                        <div class="price">₪{{product.Product_Price}} :מחיר</div>
                        <app-product-actions [product]="product"></app-product-actions>
                    </mat-card>
                </div>
            </mat-tab>
            <mat-tab label="תלייה ורעשנים">
                <div *ngFor="let product of babiesProducts" class="allProducts">
                    <mat-card *ngIf="product.Product_Category==='לתלייה ורעשנים'">
                        <mat-card-header>
                            <mat-card-title>{{product.Product_Name}}</mat-card-title>
                        </mat-card-header>
                        <img mat-card-image src="https://tns-be.herokuapp.com/images/products/{{product.Product_Image}}" alt="מוצרים">
                        <div class="price">₪{{product.Product_Price}} :מחיר</div>
                        <app-product-actions [product]="product"></app-product-actions>
                    </mat-card>
                </div>
            </mat-tab>
            <mat-tab label="משחקים">
                <div *ngFor="let product of babiesProducts" class="allProducts">
                    <mat-card *ngIf="product.Product_Category==='תינוקות משחקים'">
                        <mat-card-header>
                            <mat-card-title>{{product.Product_Name}}</mat-card-title>
                        </mat-card-header>
                        <img mat-card-image src="https://tns-be.herokuapp.com/images/products/{{product.Product_Image}}" alt="מוצרים">
                        <div class="price">₪{{product.Product_Price}} :מחיר</div>
                        <app-product-actions [product]="product"></app-product-actions>
                    </mat-card>
                </div>
            </mat-tab>
            <mat-tab label="אוהלים">
                <div *ngFor="let product of babiesProducts" class="allProducts">
                    <mat-card *ngIf="product.Product_Category==='אוהלים לתינוקות'">
                        <mat-card-header>
                            <mat-card-title>{{product.Product_Name}}</mat-card-title>
                        </mat-card-header>
                        <img mat-card-image src="https://tns-be.herokuapp.com/images/products/{{product.Product_Image}}" alt="מוצרים">
                        <div class="price">₪{{product.Product_Price}} :מחיר</div>
                        <app-product-actions [product]="product"></app-product-actions>
                    </mat-card>
                </div>
            </mat-tab>
            <mat-tab label="אמבטיות">
                <div *ngFor="let product of babiesProducts" class="allProducts">
                    <mat-card *ngIf="product.Product_Category==='אמבט לתינוקות'">
                        <mat-card-header>
                            <mat-card-title>{{product.Product_Name}}</mat-card-title>
                        </mat-card-header>
                        <img mat-card-image src="https://tns-be.herokuapp.com/images/products/{{product.Product_Image}}" alt="מוצרים">
                        <div class="price">₪{{product.Product_Price}} :מחיר</div>
                        <app-product-actions [product]="product"></app-product-actions>
                    </mat-card>
                </div>
            </mat-tab>
            <mat-tab label="בוסטר">
                <div *ngFor="let product of babiesProducts" class="allProducts">
                    <mat-card *ngIf="product.Product_Category==='בוסטר לתינוקות'">
                        <mat-card-header>
                            <mat-card-title>{{product.Product_Name}}</mat-card-title>
                        </mat-card-header>
                        <img mat-card-image src="https://tns-be.herokuapp.com/images/products/{{product.Product_Image}}" alt="מוצרים">
                        <div class="price">₪{{product.Product_Price}} :מחיר</div>
                        <app-product-actions [product]="product"></app-product-actions>
                    </mat-card>
                </div>
            </mat-tab>
            <mat-tab label="הליכונים">
                <div *ngFor="let product of babiesProducts" class="allProducts">
                    <mat-card *ngIf="product.Product_Category==='הליכונים תינוקות'">
                        <mat-card-header>
                            <mat-card-title>{{product.Product_Name}}</mat-card-title>
                        </mat-card-header>
                        <img mat-card-image src="https://tns-be.herokuapp.com/images/products/{{product.Product_Image}}" alt="מוצרים">
                        <div class="price">₪{{product.Product_Price}} :מחיר</div>
                        <app-product-actions [product]="product"></app-product-actions>
                    </mat-card>
                </div>
            </mat-tab>
            <mat-tab label="אוניברסיטה">
                <div *ngFor="let product of babiesProducts" class="allProducts">
                    <mat-card *ngIf="product.Product_Category==='אוניברסיטה תינוקות'">
                        <mat-card-header>
                            <mat-card-title>{{product.Product_Name}}</mat-card-title>
                        </mat-card-header>
                        <img mat-card-image src="https://tns-be.herokuapp.com/images/products/{{product.Product_Image}}" alt="מוצרים">
                        <div class="price">₪{{product.Product_Price}} :מחיר</div>
                        <app-product-actions [product]="product"></app-product-actions>
                    </mat-card>
                </div>
            </mat-tab>
            <mat-tab label="פאזלים">
                <div *ngFor="let product of babiesProducts" class="allProducts">
                    <mat-card *ngIf="product.Product_Category==='פאזלים לתינוקות'">
                        <mat-card-header>
                            <mat-card-title>{{product.Product_Name}}</mat-card-title>
                        </mat-card-header>
                        <img mat-card-image src="https://tns-be.herokuapp.com/images/products/{{product.Product_Image}}" alt="מוצרים">
                        <div class="price">₪{{product.Product_Price}} :מחיר</div>
                        <app-product-actions [product]="product"></app-product-actions>
                    </mat-card>
                </div>
            </mat-tab>
            <mat-tab label="ספות">
                <div *ngFor="let product of babiesProducts" class="allProducts">
                    <mat-card *ngIf="product.Product_Category==='ספות לילדים'">
                        <mat-card-header>
                            <mat-card-title>{{product.Product_Name}}</mat-card-title>
                        </mat-card-header>
                        <img mat-card-image src="https://tns-be.herokuapp.com/images/products/{{product.Product_Image}}" alt="מוצרים">
                        <div class="price">₪{{product.Product_Price}} :מחיר</div>
                        <app-product-actions [product]="product"></app-product-actions>
                    </mat-card>
                </div>
            </mat-tab>
        </mat-tab-group>
    </div>
</div>
