.contact {
  background-image: url("/assets/backgrounds/blueBg.png");
}

/* about us contact info */
.row{
  display: flex;
  justify-content: center;
  text-align: center;
}
.box{
  margin: 7px;
}

.box>.icon>.image {
  position: relative;
  z-index: 2;
  margin: auto;
  width: 88px;
  height: 88px;
  border: 8px solid white;
  line-height: 88px;
  border-radius: 50%;
  background: cornflowerblue;
  vertical-align: middle;
}

.box>.icon>.image>span {
  font-size: 40px;
  color: #fff;
  margin-top: 20px;
}
.box>.icon:hover>.image>span {
  color: black;
}


.box>.icon>.info {
  margin-top: -14px;
  border: 2px solid white;
  min-height: 130px;
}

.box>.icon>.info>h3.title {
  font-family: "Robot", sans-serif;
  font-size: 25px;
  color: #222;
  font-weight: 700;
}

.box>.icon>.info>p {
  font-family: "Robot", sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.5em;
  margin: 20px;
  color: white;
  text-shadow: 0 0 10px black;
}

/* contact us title */
.contactUsTitle{
  text-align: center;
  font-size: 50px;
  padding: 10px;
  color: cornflowerblue;
  text-shadow: 1px 1px white;
}

/* right side form */
.formRight{
  float: right;
}
.contactForm{
  display: table-caption;
  direction: rtl;
  text-align: center;
  margin-left: 100px;
  margin-top: -70px;
  padding: 6px;
  width: 300px;
  border: 5px double black;
  background-color: white;
}

/* left side location */
.locationLeft{
  display: inline-block;
  padding: 10px;
  margin: 40px;
  border: 5px double black;
}
::ng-deep .mat-form-field-appearance-fill .mat-form-field-infix {
  text-align: center;
  width: 250px;
  font-weight: bold;
}

textarea[name=message] {
  resize: none;
}

/* image center */
.imageCenter{
 display: inline-block;
}
.imageCenterContact{
  width: 400px;
  height: 400px;
}

/* loading image */
.loadingImage{
  margin-left: 35%
}