<div class="lego-gunz">
    <app-navbar-right></app-navbar-right>
    <app-heading>לגו ורובים</app-heading>
    <hr>
    <img *ngIf="loader" class="imageRobo" src="/assets/backgrounds/loading.gif" alt="טוען">
    <div *ngIf="!loader">
        <div class="about-lego-gunz">
            <img class="imageAbout" src="/assets/images/right-side-categories/lego-gunz/legoGunzLeft.jpg"
                alt="legoGunzLeft">
            <p>הכירו את קטגוריית הלגו ורובים הכי מדליקה שיש!
                לגו ורובים מיוחדים ומדליקים, רובי מים, רובי לייזר, בייבליד, לגו לילדים ומקצוענים ועוד...
                כל הצעצועים הכי חדשניים במקום אחד! אז למה אתם מחכים</p>
            <img class="imageAbout" src="/assets/images/right-side-categories/lego-gunz/legoGunzRight.jpg"
                alt="legoGunzRight">
        </div>
        <hr>
        <div class="categoryText">&darr; קטגוריות &darr;</div>
        <mat-tab-group mat-align-tabs="center">
            <mat-tab label="כל המוצרים">
                <div *ngFor="let product of legoGunzProducts" class="allProducts">
                    <mat-card>
                        <mat-card-header>
                            <mat-card-title>{{product.Product_Name}}</mat-card-title>
                        </mat-card-header>
                        <img mat-card-image src="/assets/images/products/{{product.Product_Image}}" alt="מוצרים">
                        <div class="price">₪{{product.Product_Price}} :מחיר</div>
                        <app-product-actions [product]="product"></app-product-actions>
                    </mat-card>
                </div>
            </mat-tab>
            <mat-tab label="רובה חיצים">
                <div *ngFor="let product of legoGunzProducts" class="allProducts">
                    <mat-card *ngIf="product.Product_Category==='רובה חיצים'">
                        <mat-card-header>
                            <mat-card-title>{{product.Product_Name}}</mat-card-title>
                        </mat-card-header>
                        <img mat-card-image src="/assets/images/products/{{product.Product_Image}}" alt="מוצרים">
                        <div class="price">₪{{product.Product_Price}} :מחיר</div>
                        <app-product-actions [product]="product"></app-product-actions>
                    </mat-card>
                </div>
            </mat-tab>
            <mat-tab label="רובה לייזר">
                <div *ngFor="let product of legoGunzProducts" class="allProducts">
                    <mat-card *ngIf="product.Product_Category==='רובה לייזר'">
                        <mat-card-header>
                            <mat-card-title>{{product.Product_Name}}</mat-card-title>
                        </mat-card-header>
                        <img mat-card-image src="/assets/images/products/{{product.Product_Image}}" alt="מוצרים">
                        <div class="price">₪{{product.Product_Price}} :מחיר</div>
                        <app-product-actions [product]="product"></app-product-actions>
                    </mat-card>
                </div>
            </mat-tab>
            <mat-tab label="רובה לילדים">
                <div *ngFor="let product of legoGunzProducts" class="allProducts">
                    <mat-card *ngIf="product.Product_Category==='רובה ילדים'">
                        <mat-card-header>
                            <mat-card-title>{{product.Product_Name}}</mat-card-title>
                        </mat-card-header>
                        <img mat-card-image src="/assets/images/products/{{product.Product_Image}}" alt="מוצרים">
                        <div class="price">₪{{product.Product_Price}} :מחיר</div>
                        <app-product-actions [product]="product"></app-product-actions>
                    </mat-card>
                </div>
            </mat-tab>
            <mat-tab label="רובה בייבליד">
                <div *ngFor="let product of legoGunzProducts" class="allProducts">
                    <mat-card *ngIf="product.Product_Category==='רובה בייבליד'">
                        <mat-card-header>
                            <mat-card-title>{{product.Product_Name}}</mat-card-title>
                        </mat-card-header>
                        <img mat-card-image src="/assets/images/products/{{product.Product_Image}}" alt="מוצרים">
                        <div class="price">₪{{product.Product_Price}} :מחיר</div>
                        <app-product-actions [product]="product"></app-product-actions>
                    </mat-card>
                </div>
            </mat-tab>
            <mat-tab label="רובה מים">
                <div *ngFor="let product of legoGunzProducts" class="allProducts">
                    <mat-card *ngIf="product.Product_Category==='רובה מים'">
                        <mat-card-header>
                            <mat-card-title>{{product.Product_Name}}</mat-card-title>
                        </mat-card-header>
                        <img mat-card-image src="/assets/images/products/{{product.Product_Image}}" alt="מוצרים">
                        <div class="price">₪{{product.Product_Price}} :מחיר</div>
                        <app-product-actions [product]="product"></app-product-actions>
                    </mat-card>
                </div>
            </mat-tab>
            <mat-tab label="לגו לילדים">
                <div *ngFor="let product of legoGunzProducts" class="allProducts">
                    <mat-card *ngIf="product.Product_Category==='לגו ילדים'">
                        <mat-card-header>
                            <mat-card-title>{{product.Product_Name}}</mat-card-title>
                        </mat-card-header>
                        <img mat-card-image src="/assets/images/products/{{product.Product_Image}}" alt="מוצרים">
                        <div class="price">₪{{product.Product_Price}} :מחיר</div>
                        <app-product-actions [product]="product"></app-product-actions>
                    </mat-card>
                </div>
            </mat-tab>
            <mat-tab label="לגו למקצוענים">
                <div *ngFor="let product of legoGunzProducts" class="allProducts">
                    <mat-card *ngIf="product.Product_Category==='לגו נוער'">
                        <mat-card-header>
                            <mat-card-title>{{product.Product_Name}}</mat-card-title>
                        </mat-card-header>
                        <img mat-card-image src="/assets/images/products/{{product.Product_Image}}" alt="מוצרים">
                        <div class="price">₪{{product.Product_Price}} :מחיר</div>
                        <app-product-actions [product]="product"></app-product-actions>
                    </mat-card>
                </div>
            </mat-tab>
        </mat-tab-group>
    </div>
</div>
