<div class="fisherPriceProducts">
    <app-navbar-brands></app-navbar-brands>
    <app-heading>Fisher-Price מוצרים של חברת</app-heading>
    <hr>
    <mat-grid-list cols="3" rowHeight="2:1">
        <mat-grid-tile>
            <img class="imageFisherPrice" src="https://tns-be.herokuapp.com/images/all-brands/fisher-price/fisherPrice2.png" alt="Left">
            <img class="imageFisherPrice" src="https://tns-be.herokuapp.com/images/all-brands/fisher-price/fisherPrice3.png" alt="Left1">
        </mat-grid-tile>
        <mat-grid-tile>
            <img class="imageFisherPrice1" src="https://tns-be.herokuapp.com/images/all-brands/fisher-price/fisherPrice1.png" alt="center">
        </mat-grid-tile>
        <mat-grid-tile>
            <img class="imageFisherPrice" src="https://tns-be.herokuapp.com/images/all-brands/fisher-price/fisherPrice4.png" alt="Right">
            <img class="imageFisherPrice" src="https://tns-be.herokuapp.com/images/all-brands/fisher-price/fisherPrice5.png" alt="Right1">
        </mat-grid-tile>
    </mat-grid-list>

    <div class="aboutFisherPrice">
        <p>!Fisher-Price ריכזנו עבורכם מבחר מוצרים מהמותג</p>
        <p>פישר פרייס היא חברה המייצרת צעצועים לפעוטות ולילדים</p>
    </div>
    <hr>
    <div *ngFor="let product of fisherPriceProducts" class="allProducts">
        <mat-card>
            <mat-card-header>
                <mat-card-title>{{product.Product_Name}}</mat-card-title>
            </mat-card-header>
            <img mat-card-image src="/assets/images/products/{{product.Product_Image}}" alt="מוצרים">
            <div class="price">₪{{product.Product_Price}} :מחיר</div>
            <app-product-actions [product]="product"></app-product-actions>
        </mat-card>
    </div>

</div>
