<div class="sales">
    <app-navbar-left></app-navbar-left>
    <app-heading>מבצעים</app-heading>
    <hr>
    <img *ngIf="loader" class="imageRobo" src="/assets/backgrounds/loading.gif" alt="טוען">
    <div *ngIf="!loader">
        <div class="about">
            <img class="imageAbout" src="/assets/images/left-side-categories/sales/sale.jpg" alt="sales">
            <img class="imageAbout" src="/assets/images/left-side-categories/sales/sale.jpg" alt="sales">
            <p>!המבצעים שלנו - מגוון מוצרים במחירים חסרי תקדים</p>
            <img class="imageAbout" src="/assets/images/left-side-categories/sales/sale.jpg" alt="sales">
            <img class="imageAbout" src="/assets/images/left-side-categories/sales/sale.jpg" alt="sales">
        </div>
        <hr>
        <div *ngFor="let product of salesProducts" class="allProducts">
            <mat-card>
                <span class="product-new-label">מבצע</span>
                <mat-card-header>
                    <mat-card-title>{{product.Product_Name}}</mat-card-title>
                </mat-card-header>
                <img mat-card-image src="/assets/images/products/{{product.Product_Image}}" alt="מוצרים">
                <div class="inline">
                    <div class="price">₪{{product.Product_Price}} :מחיר</div>
                    <div class="priceBefore">₪{{product.Product_Price + 20}}</div>
                </div>
                <mat-card-actions>
                    <div class="number-input">
                        <button onclick="this.parentNode.querySelector('input[type=number]').stepDown()"></button>
                        <input class="amountInput" type="number" #amount min="1" max="10" value="1" step="1" required>
                        <button class="plus"
                            onclick="this.parentNode.querySelector('input[type=number]').stepUp()"></button>
                    </div>
                    <br>
                    <button mat-raised-button class="addToCartBtn">הוספה לעגלה</button>
                    <button mat-raised-button color="primary" (click)="onDetailsClicked(product)">מידע נוסף</button>
                </mat-card-actions>
            </mat-card>
        </div>
    </div>
</div>
