<div class="securing">
    <app-heading>אבטחת מידע</app-heading>
    <hr>
    <div>קנייה בטוחה בצעצועים ללא הפסקה</div>
    <p>שכבת הגנה מוצפנת כדי להגן על תעבורת המידע HTTPS פרוטוקול אבטחת</p>
    <p>הזמנות המוצרים שלנו מתבצעות באופן טלפוני</p>
    <p>בסיום ההזמנה נציג החנות יצור עימכם קשר בכדי להסדיר את התשלום</p>
    <p>אנו פועלים על מנת לתת את השירות הטוב ביותר, ולמנוע פריצות אבטחה באינטרנט</p>
    <p>ובשל כך התשלום יתבצע טלפונית, בכדי לעדכן את הלקוח ברגע אמת</p>
    <p>אבטחת מידע נמצא בראש סדר העדיפיות בחברתנו אתם יכולים להיות בטוחים שפרטי האשראי שלכם מוגנים בעת הזמנות אצלנו</p>
    <p>אנו מקבלים כרטיסי אשראי של כל החברות: ויזה ,ישראכרט,דיינרס ואמריקן אקספרס</p>
    <h3>!קנייה נעימה</h3>
</div>