<div class="securing">
    <app-heading>אבטחת מידע</app-heading>
    <hr>
    <div>קנייה בטוחה בצעצועים ללא הפסקה</div>
    <p>חברתנו משתמשת בטכנולוגית הצפנת נתונים מהמתקדמות בעולם על מנת להבטיח שפרטי כרטיסי האשראי של לקוחותינו יהיו מוגנים
        בכל עת</p>
    <p>(Secure Socket Layer) SSL הוא מנוע הצפנת נתונים הניתמך ע"י רוב סיירי האינטרנט הקיימים בשוק. ולכן בכל קניה אצלנו
        באתר המערכת משתמשת במנוע ה SSL על מנת להבטיח הגנה</p>
    <p>כאשר אתם שולחים את פרטי כרטיס האשראי המערכת מצפינה את הנתונים בצורה שרק אנו יכולים לקבל את המידע ולפענח אותו ובכך
        מבטיחה הגנה וחסיון מלא</p>
    <p>אבטחת מידע נמצא בראש סדר העדיפיות בחברתנו אתם יכולים להיות בטוחים שפרטי האשראי שלכם מוגנים בעת הזמנות אצלנו</p>
    <p>אנו מקבלים כרטיסי אשראי של כל החברות: ויזה ,ישראכרט,דיינרס ואמריקן אקספרס</p>
    <h3>!קנייה נעימה</h3>
</div>