<div class="birthday">
    <app-navbar-left></app-navbar-left>
    <app-heading>יום הולדת</app-heading>
    <hr>
    <img *ngIf="loader" class="imageRobo" src="https://tns-be.herokuapp.com/backgrounds/loading.gif" alt="טוען">
    <div *ngIf="!loader">
        <div class="about-birthday">
            <img class="imageAbout" src="https://tns-be.herokuapp.com/images/left-side-categories/birthday/birthdayLeft.jpg"
                alt="birthdayLeft">
            <p>הכירו את קטגוריית יום הולדת הכי מדליקה שיש!
                ריכזנו לכם בעצם את כל מה שנדרש בכדי לקיים יום הולדת מושלם, נרות,בלוני,קישוטים חד פעמי ועוד...
                כל המוצרים והאביזרים הכי חדשים במקום אחד! אז למה אתם מחכים</p>
            <img class="imageAbout" src="https://tns-be.herokuapp.com/images/left-side-categories/birthday/birthdayRight.jpg"
                alt="birthdayRight">
        </div>
        <hr>
        <div class="categoryText">&darr; קטגוריות &darr;</div>
        <mat-tab-group mat-align-tabs="center">
            <mat-tab label="כל המוצרים">
                <div *ngFor="let product of birthdayProducts" class="allProducts">
                    <mat-card>
                        <mat-card-header>
                            <mat-card-title>{{product.Product_Name}}</mat-card-title>
                        </mat-card-header>
                        <img mat-card-image src="https://tns-be.herokuapp.com/images/products/{{product.Product_Image}}" alt="מוצרים">
                        <div class="price">₪{{product.Product_Price}} :מחיר</div>
                        <app-product-actions [product]="product"></app-product-actions>
                    </mat-card>
                </div>
            </mat-tab>
            <mat-tab label="נרות">
                <div *ngFor="let product of birthdayProducts" class="allProducts">
                    <mat-card *ngIf="product.Product_Category==='נרות'">
                        <mat-card-header>
                            <mat-card-title>{{product.Product_Name}}</mat-card-title>
                        </mat-card-header>
                        <img mat-card-image src="https://tns-be.herokuapp.com/images/products/{{product.Product_Image}}" alt="מוצרים">
                        <div class="price">₪{{product.Product_Price}} :מחיר</div>
                        <app-product-actions [product]="product"></app-product-actions>
                    </mat-card>
                </div>
            </mat-tab>
            <mat-tab label="בלונים">
                <div *ngFor="let product of birthdayProducts" class="allProducts">
                    <mat-card *ngIf="product.Product_Category==='בלונים'">
                        <mat-card-header>
                            <mat-card-title>{{product.Product_Name}}</mat-card-title>
                        </mat-card-header>
                        <img mat-card-image src="https://tns-be.herokuapp.com/images/products/{{product.Product_Image}}" alt="מוצרים">
                        <div class="price">₪{{product.Product_Price}} :מחיר</div>
                        <app-product-actions [product]="product"></app-product-actions>
                    </mat-card>
                </div>
            </mat-tab>
            <mat-tab label="קישוטים">
                <div *ngFor="let product of birthdayProducts" class="allProducts">
                    <mat-card *ngIf="product.Product_Category==='קישוטים'">
                        <mat-card-header>
                            <mat-card-title>{{product.Product_Name}}</mat-card-title>
                        </mat-card-header>
                        <img mat-card-image src="https://tns-be.herokuapp.com/images/products/{{product.Product_Image}}" alt="מוצרים">
                        <div class="price">₪{{product.Product_Price}} :מחיר</div>
                        <app-product-actions [product]="product"></app-product-actions>
                    </mat-card>
                </div>
            </mat-tab>
            <mat-tab label="חד פעמי">
                <div *ngFor="let product of birthdayProducts" class="allProducts">
                    <mat-card *ngIf="product.Product_Category==='חד פעמי'">
                        <mat-card-header>
                            <mat-card-title>{{product.Product_Name}}</mat-card-title>
                        </mat-card-header>
                        <img mat-card-image src="https://tns-be.herokuapp.com/images/products/{{product.Product_Image}}" alt="מוצרים">
                        <div class="price">₪{{product.Product_Price}} :מחיר</div>
                        <app-product-actions [product]="product"></app-product-actions>
                    </mat-card>
                </div>
            </mat-tab>
        </mat-tab-group>
    </div>
</div>
