<div class="barbieProducts">
    <app-navbar-brands></app-navbar-brands>
    <app-heading>מוצרים של חברת ברבי</app-heading>
    <hr>
    <mat-grid-list cols="3" rowHeight="2:1">
        <mat-grid-tile>
            <img class="imageBarbie" src="/assets/images/all-brands/barbie/barbie2.png" alt="Left">
            <img class="imageBarbie" src="/assets/images/all-brands/barbie/barbie3.png" alt="Left1">
        </mat-grid-tile>
        <mat-grid-tile>
            <img class="imageBarbie1" src="/assets/images/all-brands/barbie/barbie1.png" alt="center">
        </mat-grid-tile>
        <mat-grid-tile>
            <img class="imageBarbie" src="/assets/images/all-brands/barbie/barbie4.png" alt="Right">
            <img class="imageBarbie" src="/assets/images/all-brands/barbie/barbie5.png" alt="Right1">
        </mat-grid-tile>
    </mat-grid-list>

    <div class="aboutBarbie">
        <p>!ריכזנו עבורכם מבחר מוצרים מהמותג ברבי</p>
        <p>חברה מובילה בתחום בובות של המותג ברבי</p>
    </div>
    <hr>
    <div *ngFor="let product of barbieProducts" class="allProducts">
        <mat-card>
            <mat-card-header>
                <mat-card-title>{{product.Product_Name}}</mat-card-title>
            </mat-card-header>
            <img mat-card-image src="/assets/images/products/{{product.Product_Image}}" alt="מוצרים">
            <div class="price">₪{{product.Product_Price}} :מחיר</div>
            <app-product-actions [product]="product"></app-product-actions>
        </mat-card>
    </div>

</div>
