.register {
  background-image: url("https://tns-be.herokuapp.com/backgrounds/blueBg.png");
}
.allGrids{
  height: 420px;
  direction: rtl;
  text-align: center;
}
::ng-deep .mat-form-field-appearance-fill .mat-form-field-infix {
  text-align: center;
  width: 230px;
  font-weight: bold;
}


/* Part B register form */
.part-B-Form{
  height: 420px;
}
.registerForm{
  border: 4px double black;
  padding: 8px;
  background-color: white;
}

.registerBtn{
  background-color: green;
  font-size: 20px;
}

.gotUserText{
  font-weight: bold;
  font-size: 18px;
}

/* Part C image and text */
.registerRules{
  margin-top: -550px;
  position: inherit;
}
.registerRules>p{
  font-weight: bold;
  font-size: 17px;
}

/* images */
.images{
  margin-top: 100px;
  height: 480px;
  width: 410px;
}

.part-A,.part-C{
  height: 300px;
}

@media only screen and (max-width: 600px) {
  .register{height: 1400px;}
  .part-A{display: block;}
  .part-B-Form{height: 500px;display: block;}
  .part-C{display: none;}
  .registerRules > p{color: white;}
  .images{width: 230px; height: 230px;margin-top: -120px;}
}
