<hr class="cubes">
<div class="footer">
    <div class="part-A">
        <div class="homePageBtn">&darr;&nbsp;&nbsp;&nbsp;לדף הבית&nbsp;&nbsp;&nbsp;&darr;</div>
        <a routerLink="/home"><img class="toysImage" src="/assets/backgrounds/toysMain.jpg" alt="toysImage"></a>
    </div>
    <div class="part-B">
        <div class="header">קנייה באתר</div><br>
        <a class="routesLinks" routerLink="/securing">אבטחה</a><br><br>
        <a class="routesLinks" routerLink="/purchaseTerms">תקנון האתר</a><br><br>
        <a class="routesLinks" routerLink="/shipping-returns">משלוחים וחזרות</a>
    </div>
    <div class="part-C">
        <div class="header">מידע שימושי</div><br>
        <a class="routesLinks" routerLink="/about">עלינו</a><br><br>
        <a class="routesLinks" routerLink="/contact">יצירת קשר</a><br><br>
        <div>שעות פעילות</div>
        <div> ימים ראשון עד חמישי: 9:00-20:00
            שישי: 9:00-14:00</div>
    </div>
    <div class="part-D">
        <div class="header">צור קשר</div>
        <p><span class="material-icons">home</span> תחנה מרכזית דימונה</p>
        <p><span class="material-icons">email</span> toysnonstop1@gmail.com</p>
        <p><span class="material-icons">phone</span> 08-9158964</p>
        <a href="https://www.facebook.com/Toysnonstop/" target="_blank"><span class="material-icons">facebook</span></a>
    </div>
</div>
<!-- Copyright -->
<div class="footer-copyright">© 2020 Copyright: RonBenNaim</div>
