.purchase-terms {
  background-image: url("https://tns-be.herokuapp.com/backgrounds/blueBg.png");
}

p{
  text-align: center;
  font-size: 20px;
  font-weight: bold;
}

.readContact{
  font-size: 30px;
  color: white;
  text-shadow: 2px 2px black;
}
a{
  color: white;
}
