<div class="purchase-terms">
    <app-heading>תקנון האתר</app-heading>
    <hr>
    <p class="readContact">אנא קראו תקנון זה לפני ביצוע הזמנתכם</p>
    <p>נהלי החזרת מוצר\מוצרים יתקבלו בחזרה עד 14 יום בלבד מקבלת המוצר  *</p>
    <p>המוצר יהיה חדש באריזתו המקורית,מוצר אשר יגיע במצב לא תקין יגרום לגבייה מינימלית מהלקוח  *</p>
    <p>המשלוח חזרה יהיה על חשבון הלקוח  *</p>
    <p>בשום מקרה לא יוחזרו דמי המשלוח  *</p>
    <p>החלפת מוצרים עונתיים כגון:תחפושות,בריכות ומוצרים נילווים תיהיה מוגבלת לתאריכים נקובים  *</p>
    <p>החלפת מוצר תעשה תמיד בתאום עם נציג החנות  *</p>
    <p>צעצועים ללא הפסקה מבצעת משלוחים באמצעות רשות הדואר וכן על ידי חברת השליחויות "ציטה" אשר מספקת משלוחים עד לפתח הבית  *</p>
    <p>לתשומת ליבכם משלוחי בריכות הינם עד הכניסה לבית  *</p>
    <p>נציג החנות יציג ללקוח את אופציות העלות לפני דמי המשלוח  *</p>
    <p>ניתן לבצע איסוף עצמי מהחנות בתחנה מרכזית דימונה  *</p>
    <p>נציגי החנות הינם אנשי מקצוע ותיקים ומנוסים ביותר ויעשו כל האפשר על מנת להקל על הלקוח </p>
    <p>האתר נכתב בלשון זכר מטעמי נוחות בלבד, אך מיועד לנשים וגברים כאחד</p>
    <p>קנייה נעימה</p>
    <p>לכל שאלה יש לפנות <a routerLink="/contact" routerLinkActive="active">צור קשר</a></p>
    <br><br>
</div>
<router-outlet></router-outlet>