<!-- NavBar -->
<mat-toolbar class="navbar">
    <div>
        <nav>
            <button mat-raised-button class="logoutBtn" *ngIf="userName != 'אורח'" (click)="logoutBtn()">התנתק</button>
            <a class="navbarRoute" routerLink="/about" routerLinkActive="active">אודות<span
                    class="material-icons">home</span></a>
            <a class="navbarRoute" routerLink="/purchaseTerms" routerLinkActive="active">תקנון קנייה<span
                    class="material-icons">list_alt</span></a>
            <a class="navbarRoute" routerLink="/contact" routerLinkActive="active">יצירת קשר<span
                    class="material-icons">contact_phone</span></a>
            <a class="navbarRoute" *ngIf="userName === 'אורח'" routerLink="/login" routerLinkActive="active">כניסה לרשומים<span
                    class="material-icons">person</span></a>
            <a class="navbarRoute" *ngIf="userName === 'אורח'" routerLink="/register" routerLinkActive="active">הרשמה<span
                    class="material-icons">list</span></a>
            <a class="navbarRoute" routerLink="/cart" routerLinkActive="active">העגלה שלי<span
                    class="material-icons" style="color:greenyellow;">shopping_cart</span></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <div class="cartItemsNumber" matBadge="{{this.cartService.products.length}}" matBadgeOverlap="false" matBadgeSize="medium"></div>
            <a class="welcomeText">ברוך הבא: {{userName}}</a>
        </nav>
    </div>
    <img class="logoImage" src="https://tns-be.herokuapp.com/images/navbar/Logo.jpg" alt="logo">
    <a routerLink="/home" class="nabBarTitle">ללא </a>
</mat-toolbar>
<hr class="line">
<!-- Search -->

<div class="searchProduct">
 <div class="aboutUs">משלוח חינם מעל ₪299  &#x2605;</div>
 <div class="aboutUs">משלוחים לכל הארץ  &#x2605;</div>
 <div class="aboutUs">אחריות והחזרות  &#x2605;</div>
 <div class="aboutUs">מותגים מובילים  &#x2605;</div>
 <div class="aboutUs">מחירים ללא תחרות  &#x2605;</div>
 <div class="aboutUs">וותק מעל 15 שנה  &#x2605;</div>
 <button mat-button class="searchInput" type="button" (click)="searchProduct()">חיפוש מוצר</button>
</div>
<hr class="line">

<router-outlet></router-outlet>
