.container {
  height: 100%;
  display: grid;
  grid-template-rows: 10% 80% 10%;

  .header {
    text-align: center;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 30px;
  }

  .content {
    display: grid;
    grid-template-columns: 50% 10%;
    direction: rtl;

    .text {
      font-family: sans-serif;
      font-weight: bold;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 250px;
    }
  }

  .footer {
    display: flex;
    justify-content: center;

    .button {
      color: white;
      font-weight: bold;
      border: 1px double white;
      align-self: center;
    }
  }
}

@media only screen and (max-width: 600px) {
  .forMobileCart{display:block;font-weight: bold;margin-top: -10px;}
}
@media only screen and (min-width: 601px){
  .forMobileCart { display: none; }
}