<div class="benTenProducts">
    <app-navbar-brands></app-navbar-brands>
    <app-heading>מוצרים של המותג בן תן</app-heading>
    <hr>
    <mat-grid-list cols="3" rowHeight="2:1">
        <mat-grid-tile>
            <img class="imageBenTen" src="https://tns-be.herokuapp.com/images/all-brands/ben-ten/ben2.png" alt="Left">
            <img class="imageBenTen" src="https://tns-be.herokuapp.com/images/all-brands/ben-ten/ben3.png" alt="Left1">
        </mat-grid-tile>
        <mat-grid-tile>
            <img class="imageBenTen1" src="https://tns-be.herokuapp.com/images/all-brands/ben-ten/ben1.png" alt="center">
        </mat-grid-tile>
        <mat-grid-tile>
            <img class="imageBenTen" src="https://tns-be.herokuapp.com/images/all-brands/ben-ten/ben4.png" alt="Right">
            <img class="imageBenTen" src="https://tns-be.herokuapp.com/images/all-brands/ben-ten/ben5.png" alt="Right1">
        </mat-grid-tile>
    </mat-grid-list>

    <div class="aboutBenTen">
        <p>!ריכזנו עבורכם מבחר מוצרים מהמותג בן תן</p>
        <p>מוצרים של המותג בן 10,תמצאו מגוון מוצרים</p>
    </div>
    <hr>
    <div *ngFor="let product of benTenProducts" class="allProducts">
        <mat-card>
            <mat-card-header>
                <mat-card-title>{{product.Product_Name}}</mat-card-title>
            </mat-card-header>
            <img mat-card-image src="https://tns-be.herokuapp.com/images/products/{{product.Product_Image}}" alt="מוצרים">
            <div class="price">₪{{product.Product_Price}} :מחיר</div>
            <app-product-actions [product]="product"></app-product-actions>
        </mat-card>
    </div>

</div>
