<div class="about">
    <app-heading>עלינו</app-heading>
    <hr>
    <mat-grid-list cols="3">
        <mat-grid-tile class="leftSide">
            <div class="feature">
                <div class="feature-box">
                    <div class="clearfix">
                        <div class="feature-content">
                            <h4>ניסיון בתחום</h4>
                            <p>צעצועים ללא הפסקה פעילה מעל 15 שנה בתחום הצעצועים</p>
                        </div>
                        <span class="material-icons">check_box</span>
                    </div>
                </div>
                <div class="feature-box">
                    <div class="clearfix">
                        <div class="feature-content">
                            <h4>שירות מעל הכל</h4>
                            <p>בצעצועים ללא הפסקה דואגים תמיד שהלקוח יהיה מרוצה</p>
                        </div>
                        <span class="material-icons">check_box</span>
                    </div>
                </div>
                <div class="feature-box">
                    <div class="clearfix">
                        <div class="feature-content">
                            <h4>מגוון רחב</h4>
                            <p>מגוון רחב של מוצרים במחירים אטרקטיביים לכל כיס</p>
                        </div>
                        <span class="material-icons">check_box</span>
                    </div>
                </div>
                <div class="feature-box">
                    <div class="clearfix">
                        <div class="feature-content">
                            <h4>חוויה אינטרנטית</h4>
                            <p> בצעצועים ללא הפסקה דואגים שהלקוח יהנה מחוויית קניה אינטרנטית נוחה ובטוחה</p>
                        </div>
                        <span class="material-icons">check_box</span>
                    </div>
                </div>
            </div>
        </mat-grid-tile>
        <mat-grid-tile class="part-B-Image">
            <img class="imageCenterAbout" src="https://tns-be.herokuapp.com/images/about/mickey.png" height="400px" alt="mickey">
        </mat-grid-tile>
        <mat-grid-tile class="aboutOurStoreDesc">
            <div class="about-store">
                <h2 class="about-store-title">צעצועים ללא הפסקה</h2>
                <p class="about-store-text">הינה חנות הממוקמת בעיר דימונה משנת 2004.החנות כוללת מגוון רחב של מוצרים
                    ומותגים מהמובילים בארץ
                </p>
                <p class="about-store-text">אנחנו מציעים לכם חוויית קנייה אחרת ונותנים לכם את המיטב בכדי שתהנו ממגוון
                    מוצרנו במחירים אטרקטיביים במיוחד וחוויית קניה אינטרנטית מעולה</p>
                <p class="about-store-text">צעצועים ללא הפסקה ידועה בשל שירותיה,אשר נותנת מענה מסביב לשעון לכל
                    לקוחותיה לתת את השירות הטוב ביותר ובכל זמן </p>
            </div>
        </mat-grid-tile>
    </mat-grid-list>
</div>
