.cart {
  background-image: url("https://tns-be.herokuapp.com/backgrounds/blueBg.png");
  text-align: center;
  height: 700px;
}

/* cart messages */
.cartMessages {
  font-weight: bold;
  color: white;
  text-decoration: underline;
}

.cart-container {
  display: flex;
  justify-content: space-around;
}

.nextLevel:disabled{
  background-color: gray!important;
}

/* part a cart image */
.part-A-Cart-image {
  padding-right: 50px;
}
.imageCart {
  height: 450px;
  margin-top: -10px;
  border: 5px double black;
  border-radius: 27%;
  box-shadow: 3px 3px 10px white;
  padding: 10px;
}

/* part c cart text */
.cartRules > p {
  font-weight: bold;
  font-size: 18px;
}
.cartLinks {
  color: white;
}
.cartLinks:hover {
  color: black;
}

/* empty cart */
.emptyCartTextMain {
  font-size: 35px;
  font-weight: bold;
  text-shadow: 1px 1px 5px white;
}
.goToHome {
  background-color: white;
  font-size: 20px;
  font-weight: bold;
  margin-top: 20px;
  box-shadow: 2px 2px black;
}
.goToHome:hover {
  background-color: black;
  color: white;
}

.delivery-container {
  display: flex;
  justify-content: center;
}

.delivery-form {
  background-color: white;
  padding: 7px;
  border-radius: 10px;
  width: 600px;
}

.form-input {
  width: 46%;
  margin: 1%;
}

.form-textarea {
  width: 100%;
}

table {
  width: 100%;
  margin: 20px;
}

th {
  text-align: center !important;
}

.example-radio-group {
  display: flex;
  direction: rtl;
  flex-direction: column;
  margin: 10px;
  background-color: white;
  padding: 7px;
  border-radius: 10px;
}

.example-radio-button {
  margin: 5px;
}

.mat-radio-label-content {
  padding-right: 8px !important;
}

.table-container {
  height: 460px;
  overflow: auto;
}

.image {
  height: 100px;
  width: 100px;
  margin-top: 5px !important;
}

.totalPriceStageA{
  background-color: white;
  color: black;
  align-self: center;
  padding: 8px;
  font-weight: 500;
  border-radius: 30px;
}

@media only screen and (max-width: 600px) {
  .cart-container{display: block;}
  .cart{height: auto;}
  .delivery-container{display: block;}
  .row{display: table-cell;}
}