<div class="sports-courtyard">
    <app-navbar-right></app-navbar-right>
    <app-heading>ספורט וחצר</app-heading>
    <hr>
    <img *ngIf="loader" class="imageRobo" src="/assets/backgrounds/loading.gif" alt="טוען">
    <div *ngIf="!loader">
        <div class="about-sports-courtyard">
            <img class="imageAbout" src="/assets/images/right-side-categories/sports-courtyard/sportsCourtyardLeft.jpg"
                alt="sportsCourtyardLeft">
            <p>הכירו את קטגוריית החצר וספורט הכי מדליקה שיש!
                אביזרי כושר ומשחקים מיוחדים ומדליקים, משחקי שולחן, מוצרי ספורט, אביזרי כושר, מתקני חצר ועוד...
                כל המשחקים והמוצרים הכי חדשים במקום אחד! אז למה אתם מחכים</p>
            <img class="imageAbout" src="/assets/images/right-side-categories/sports-courtyard/sportsCourtyardRight.jpg"
                alt="sportsCourtyardRight">
        </div>
        <hr>
        <div class="categoryText">&darr; קטגוריות &darr;</div>
        <mat-tab-group mat-align-tabs="center">
            <mat-tab label="כל המוצרים">
                <div *ngFor="let product of sportsCourtyardProducts" class="allProducts">
                    <mat-card>
                        <mat-card-header>
                            <mat-card-title>{{product.Product_Name}}</mat-card-title>
                        </mat-card-header>
                        <img mat-card-image src="/assets/images/products/{{product.Product_Image}}" alt="מוצרים">
                        <div class="price">₪{{product.Product_Price}} :מחיר</div>
                        <app-product-actions [product]="product"></app-product-actions>
                    </mat-card>
                </div>
            </mat-tab>
            <mat-tab label="אביזרי כושר">
                <div *ngFor="let product of sportsCourtyardProducts" class="allProducts">
                    <mat-card *ngIf="product.Product_Category==='אביזרי כושר'">
                        <mat-card-header>
                            <mat-card-title>{{product.Product_Name}}</mat-card-title>
                        </mat-card-header>
                        <img mat-card-image src="/assets/images/products/{{product.Product_Image}}" alt="מוצרים">
                        <div class="price">₪{{product.Product_Price}} :מחיר</div>
                        <app-product-actions [product]="product"></app-product-actions>
                    </mat-card>
                </div>
            </mat-tab>
            <mat-tab label="מוצרים לחצר">
                <div *ngFor="let product of sportsCourtyardProducts" class="allProducts">
                    <mat-card *ngIf="product.Product_Category==='מוצרים לחצר'">
                        <mat-card-header>
                            <mat-card-title>{{product.Product_Name}}</mat-card-title>
                        </mat-card-header>
                        <img mat-card-image src="/assets/images/products/{{product.Product_Image}}" alt="מוצרים">
                        <div class="price">₪{{product.Product_Price}} :מחיר</div>
                        <app-product-actions [product]="product"></app-product-actions>
                    </mat-card>
                </div>
            </mat-tab>
            <mat-tab label="מוצרי ספורט">
                <div *ngFor="let product of sportsCourtyardProducts" class="allProducts">
                    <mat-card *ngIf="product.Product_Category==='מוצרי ספורט'">
                        <mat-card-header>
                            <mat-card-title>{{product.Product_Name}}</mat-card-title>
                        </mat-card-header>
                        <img mat-card-image src="/assets/images/products/{{product.Product_Image}}" alt="מוצרים">
                        <div class="price">₪{{product.Product_Price}} :מחיר</div>
                        <app-product-actions [product]="product"></app-product-actions>
                    </mat-card>
                </div>
            </mat-tab>
            <mat-tab label="משחקי שולחן">
                <div *ngFor="let product of sportsCourtyardProducts" class="allProducts">
                    <mat-card *ngIf="product.Product_Category==='משחקי שולחן'">
                        <mat-card-header>
                            <mat-card-title>{{product.Product_Name}}</mat-card-title>
                        </mat-card-header>
                        <img mat-card-image src="/assets/images/products/{{product.Product_Image}}" alt="מוצרים">
                        <div class="price">₪{{product.Product_Price}} :מחיר</div>
                        <app-product-actions [product]="product"></app-product-actions>
                    </mat-card>
                </div>
            </mat-tab>
        </mat-tab-group>
    </div>
</div>
