<div class="ninjaTurtlesProducts">
    <app-navbar-brands></app-navbar-brands>
    <app-heading>מוצרים של המותג צבי הנינגה</app-heading>
    <hr>
    <mat-grid-list cols="3" rowHeight="2:1">
        <mat-grid-tile>
            <img class="imageNinjaTurtles" src="https://tns-be.herokuapp.com/images/all-brands/ninja-turtles/ninja2.png" alt="Left">
            <img class="imageNinjaTurtles" src="https://tns-be.herokuapp.com/images/all-brands/ninja-turtles/ninja3.png" alt="Left1">
        </mat-grid-tile>
        <mat-grid-tile>
            <img class="imageNinjaTurtles1" src="https://tns-be.herokuapp.com/images/all-brands/ninja-turtles/ninja1.png" alt="center">
        </mat-grid-tile>
        <mat-grid-tile>
            <img class="imageNinjaTurtles" src="https://tns-be.herokuapp.com/images/all-brands/ninja-turtles/ninja4.png" alt="Right">
            <img class="imageNinjaTurtles" src="https://tns-be.herokuapp.com/images/all-brands/ninja-turtles/ninja5.png" alt="Right1">
        </mat-grid-tile>
    </mat-grid-list>

    <div class="aboutNinjaTurtles">
        <p>!ריכזנו עבורכם מבחר מוצרים מהמותג צבי הנינגה</p>
        <p>מוצרים של המותג וסדרת הטלויזיה צבי הנינגה,תמצאו מגוון מוצרים</p>
    </div>
    <hr>
    <div *ngFor="let product of ninjaTurtlesProducts" class="allProducts">
        <mat-card>
            <mat-card-header>
                <mat-card-title>{{product.Product_Name}}</mat-card-title>
            </mat-card-header>
            <img mat-card-image src="https://toysnonstop-images.s3.eu-west-3.amazonaws.com/assets/products/{{product.Product_Image}}" alt="מוצרים">
            <div class="price">₪{{product.Product_Price}} :מחיר</div>
            <app-product-actions [product]="product"></app-product-actions>
        </mat-card>
    </div>

</div>
