<div class="creationProducts">
    <app-navbar-brands></app-navbar-brands>
    <app-heading>מוצרים של חברת יצירה</app-heading>
    <hr>
    <mat-grid-list cols="3" rowHeight="2:1">
        <mat-grid-tile>
            <img class="imageCreation" src="https://tns-be.herokuapp.com/images/all-brands/creation/creation2.png" alt="Left">
            <img class="imageCreation" src="https://tns-be.herokuapp.com/images/all-brands/creation/creation3.png" alt="Left1">
        </mat-grid-tile>
        <mat-grid-tile>
            <img class="imageCreation1" src="https://tns-be.herokuapp.com/images/all-brands/creation/creation1.png" alt="center">
        </mat-grid-tile>
        <mat-grid-tile>
            <img class="imageCreation" src="https://tns-be.herokuapp.com/images/all-brands/creation/creation4.png" alt="Right">
            <img class="imageCreation" src="https://tns-be.herokuapp.com/images/all-brands/creation/creation5.png" alt="Right1">
        </mat-grid-tile>
    </mat-grid-list>

    <div class="aboutCreation">
        <p>!ריכזנו עבורכם מבחר מוצרים מהמותג יצירה</p>
        <p>מוצרים של חברת יצירה אורדע, משחקי קופסא ויצירה</p>
    </div>
    <hr>
    <div *ngFor="let product of creationProducts" class="allProducts">
        <mat-card>
            <mat-card-header>
                <mat-card-title>{{product.Product_Name}}</mat-card-title>
            </mat-card-header>
            <img mat-card-image src="/assets/images/products/{{product.Product_Image}}" alt="מוצרים">
            <div class="price">₪{{product.Product_Price}} :מחיר</div>
            <app-product-actions [product]="product"></app-product-actions>
        </mat-card>
    </div>

</div>
