<mat-toolbar class="navbar-leftCategories">
    <nav>
        <a routerLink="/new-products" routerLinkActive="active">מוצרים חדשים</a>
        <a routerLink="/recommended" routerLinkActive="active">מומלצים</a>
        <a routerLink="/sales" routerLinkActive="active">מבצעים</a>
        <a routerLink="/last-products" routerLinkActive="active">מוצרי חיסול</a>
        <a routerLink="/office-supplies" routerLinkActive="active">ציוד משרדי</a>
        <a routerLink="/pools" routerLinkActive="active">בריכות</a>
        <a routerLink="/costumes" routerLinkActive="active">תחפושות</a>
        <a routerLink="/birthday" routerLinkActive="active">יום הולדת</a>
    </nav>
</mat-toolbar>


<router-outlet></router-outlet>