.navbar-leftCategories {
  background-color: white;
}
.navbar-leftCategories > nav > a {
  color: cornflowerblue;
  border: 8px solid transparent;
  text-decoration: none;
  border-image: url("https://tns-be.herokuapp.com/backgrounds/navsBorder.jpg") 10% round;
  padding: 5px;
  margin: 26px;
}
.navbar-leftCategories > nav > a:hover {
  color: white;
  text-shadow: 0 0 5px black;
}
.navbar-leftCategories > nav > a.active {
  color: black;
}

@media only screen and (max-width: 600px) {
  .navbar-leftCategories{display: table-cell;white-space: normal;}
  .navbar-leftCategories > nav > a {border: none;display: inline-grid;}
}
