<div class="kitchens-dallhouses">
    <app-navbar-right></app-navbar-right>
    <app-heading>מטבחים ובתי בובות</app-heading>
    <hr>
    <img *ngIf="loader" class="imageRobo" src="https://tns-be.herokuapp.com/backgrounds/loading.gif" alt="טוען">
    <div *ngIf="!loader">
        <div class="about-kitchens-dallhouses">
            <img class="imageAbout"
                src="https://tns-be.herokuapp.com/images/right-side-categories/kitchens-dallhouses/kitchenDallhousesLeft.jpg"
                alt="kitchenDallhousesLeft">
            <p>הכירו את קטגוריית המטבחים ובתי בובות הכי מדליקה שיש!
                צעצועי מטבח ובתי בובות מיוחדים ומדליקים, מטבחים, בתי בובות, ערכות של מוצרים, אביזרי מטבח חשמליים לילדים ועוד..
                כל המוצרים הכי חדשים במקום אחד! אז למה אתם מחכים</p>
            <img class="imageAbout"
                src="https://tns-be.herokuapp.com/images/right-side-categories/kitchens-dallhouses/kitchenDallhousesRight.jpg"
                alt="kitchenDallhousesRight">
        </div>
        <hr>
        <div class="categoryText">&darr; קטגוריות &darr;</div>
        <mat-tab-group mat-align-tabs="center">
            <mat-tab label="כל המוצרים">
                <div *ngFor="let product of kitchensDallhousesProducts" class="allProducts">
                    <mat-card>
                        <mat-card-header>
                            <mat-card-title>{{product.Product_Name}}</mat-card-title>
                        </mat-card-header>
                        <img mat-card-image src="https://tns-be.herokuapp.com/images/products/{{product.Product_Image}}" alt="מוצרים">
                        <div class="price">₪{{product.Product_Price}} :מחיר</div>
                        <app-product-actions [product]="product"></app-product-actions>
                    </mat-card>
                </div>
            </mat-tab>
            <mat-tab label="בתי בובות מעץ">
                <div *ngFor="let product of kitchensDallhousesProducts" class="allProducts">
                    <mat-card *ngIf="product.Product_Category==='בתי בובות מעץ'">
                        <mat-card-header>
                            <mat-card-title>{{product.Product_Name}}</mat-card-title>
                        </mat-card-header>
                        <img mat-card-image src="https://tns-be.herokuapp.com/images/products/{{product.Product_Image}}" alt="מוצרים">
                        <div class="price">₪{{product.Product_Price}} :מחיר</div>
                        <app-product-actions [product]="product"></app-product-actions>
                    </mat-card>
                </div>
            </mat-tab>
            <mat-tab label="בתי בובות מפלסטיק">
                <div *ngFor="let product of kitchensDallhousesProducts" class="allProducts">
                    <mat-card *ngIf="product.Product_Category==='בתי בובות פלסטיק'">
                        <mat-card-header>
                            <mat-card-title>{{product.Product_Name}}</mat-card-title>
                        </mat-card-header>
                        <img mat-card-image src="https://tns-be.herokuapp.com/images/products/{{product.Product_Image}}" alt="מוצרים">
                        <div class="price">₪{{product.Product_Price}} :מחיר</div>
                        <app-product-actions [product]="product"></app-product-actions>
                    </mat-card>
                </div>
            </mat-tab>
            <mat-tab label="מטבחים מעץ">
                <div *ngFor="let product of kitchensDallhousesProducts" class="allProducts">
                    <mat-card *ngIf="product.Product_Category==='מטבחים מעץ'">
                        <mat-card-header>
                            <mat-card-title>{{product.Product_Name}}</mat-card-title>
                        </mat-card-header>
                        <img mat-card-image src="https://tns-be.herokuapp.com/images/products/{{product.Product_Image}}" alt="מוצרים">
                        <div class="price">₪{{product.Product_Price}} :מחיר</div>
                        <app-product-actions [product]="product"></app-product-actions>
                    </mat-card>
                </div>
            </mat-tab>
            <mat-tab label="מטבחים מפלסטיק">
                <div *ngFor="let product of kitchensDallhousesProducts" class="allProducts">
                    <mat-card *ngIf="product.Product_Category==='מטבחים מפלסטיק'">
                        <mat-card-header>
                            <mat-card-title>{{product.Product_Name}}</mat-card-title>
                        </mat-card-header>
                        <img mat-card-image src="https://tns-be.herokuapp.com/images/products/{{product.Product_Image}}" alt="מוצרים">
                        <div class="price">₪{{product.Product_Price}} :מחיר</div>
                        <app-product-actions [product]="product"></app-product-actions>
                    </mat-card>
                </div>
            </mat-tab>
            <mat-tab label="סופרמרקט">
                <div *ngFor="let product of kitchensDallhousesProducts" class="allProducts">
                    <mat-card *ngIf="product.Product_Category==='סופרמרקט'">
                        <mat-card-header>
                            <mat-card-title>{{product.Product_Name}}</mat-card-title>
                        </mat-card-header>
                        <img mat-card-image src="https://tns-be.herokuapp.com/images/products/{{product.Product_Image}}" alt="מוצרים">
                        <div class="price">₪{{product.Product_Price}} :מחיר</div>
                        <app-product-actions [product]="product"></app-product-actions>
                    </mat-card>
                </div>
            </mat-tab>
            <mat-tab label="מוצרים לסופר">
                <div *ngFor="let product of kitchensDallhousesProducts" class="allProducts">
                    <mat-card *ngIf="product.Product_Category==='מוצרים לסופר'">
                        <mat-card-header>
                            <mat-card-title>{{product.Product_Name}}</mat-card-title>
                        </mat-card-header>
                        <img mat-card-image src="https://tns-be.herokuapp.com/images/products/{{product.Product_Image}}" alt="מוצרים">
                        <div class="price">₪{{product.Product_Price}} :מחיר</div>
                        <app-product-actions [product]="product"></app-product-actions>
                    </mat-card>
                </div>
            </mat-tab>
            <mat-tab label="מוצרים למטבח">
                <div *ngFor="let product of kitchensDallhousesProducts" class="allProducts">
                    <mat-card *ngIf="product.Product_Category==='מוצרים למטבח'">
                        <mat-card-header>
                            <mat-card-title>{{product.Product_Name}}</mat-card-title>
                        </mat-card-header>
                        <img mat-card-image src="https://tns-be.herokuapp.com/images/products/{{product.Product_Image}}" alt="מוצרים">
                        <div class="price">₪{{product.Product_Price}} :מחיר</div>
                        <app-product-actions [product]="product"></app-product-actions>
                    </mat-card>
                </div>
            </mat-tab>
            <mat-tab label="אביזרים לבית בובות">
                <div *ngFor="let product of kitchensDallhousesProducts" class="allProducts">
                    <mat-card *ngIf="product.Product_Category==='אביזרים לבית בובות'">
                        <mat-card-header>
                            <mat-card-title>{{product.Product_Name}}</mat-card-title>
                        </mat-card-header>
                        <img mat-card-image src="https://tns-be.herokuapp.com/images/products/{{product.Product_Image}}" alt="מוצרים">
                        <div class="price">₪{{product.Product_Price}} :מחיר</div>
                        <app-product-actions [product]="product"></app-product-actions>
                    </mat-card>
                </div>
            </mat-tab>
        </mat-tab-group>
    </div>
</div>
