<div class="new-products">
    <app-navbar-left></app-navbar-left>
    <app-heading>מוצרים חדשים</app-heading>
    <hr>
    <img *ngIf="loader" class="imageRobo" src="https://tns-be.herokuapp.com/backgrounds/loading.gif" alt="טוען">
    <div *ngIf="!loader">
        <div class="about">
            <img class="imageAbout" src="https://tns-be.herokuapp.com/images/left-side-categories/new-products/newProductRight.jpg"
                alt="newProducts">
            <img class="imageAbout" src="https://tns-be.herokuapp.com/images/left-side-categories/new-products/newProductRight.jpg"
                alt="newProducts">
            <p>!המוצרים הכי חדשים שיש היום,מתעדכן כל הזמן</p>
            <img class="imageAbout" src="https://tns-be.herokuapp.com/images/left-side-categories/new-products/newProductRight.jpg"
                alt="newProducts">
            <img class="imageAbout" src="https://tns-be.herokuapp.com/images/left-side-categories/new-products/newProductRight.jpg"
                alt="newProducts">
        </div>
        <hr>
        <div *ngFor="let product of newProducts" class="allProducts">
            <mat-card>
                <span class="product-new-label">חדש</span>
                <mat-card-header>
                    <mat-card-title>{{product.Product_Name}}</mat-card-title>
                </mat-card-header>
                <img mat-card-image src="https://tns-be.herokuapp.com/images/products/{{product.Product_Image}}" alt="מוצרים">
                <div class="price">₪{{product.Product_Price}} :מחיר</div>
              <app-product-actions [product]="product"></app-product-actions>
            </mat-card>
        </div>
    </div>
</div>
