<!-- Part A -->
<div class="partOne">
    <mat-grid-list cols="3" rowHeight="2:1">
        <mat-grid-tile class="partA">
            <div class="left-side-nav">
                <ul>
                    <li><a routerLink="/auction">מכירה פומבית<span class="iconAuction material-icons">gavel</span></a>
                    </li>
                    <li><a routerLink="/new-products">מוצרים חדשים</a></li>
                    <li><a routerLink="/recommended">מומלצים</a></li>
                    <li><a routerLink="/sales">מבצעים</a></li>
                    <li><a routerLink="/last-products">מוצרי חיסול</a></li>
                    <li><a routerLink="/lol">כל המותגים</a></li>
                    <li><a routerLink="/office-supplies">ציוד משרדי</a></li>
                    <li><a routerLink="/pools">בריכות</a></li>
                    <li><a routerLink="/costumes">תחפושות</a></li>
                    <li><a routerLink="/birthday">יום הולדת</a></li>
                </ul>
            </div>
        </mat-grid-tile>
        <mat-grid-tile class="partB">
            <div class="cardInside">
                <span class="welcomeToPage">ברוכים הבאים</span><br><br>
                <span class="welcomeToPage1">ללא </span><br><br>
                <span class="content">!מבחר צעצועים לילדים ותינוקות משלוחים עד פתח הבית</span><br><br>

                <div class="aboutOurPage">
                    <img src="https://tns-be.herokuapp.com/backgrounds/homee.gif" class="homeCardImg" alt="sss">
                </div>
                <div class="aboutOurPage">
                    <span class="material-icons">local_shipping</span>
                    <div>משלוחים חינם</div>
                    <div>בהזמנה מעל 199₪</div>
                </div>
                <div class="cardOutside"></div>
            </div>
        </mat-grid-tile>
        <mat-grid-tile class="partC">
            <div class="right-side-nav">
                <ul>
                    <li><a routerLink="/on-remote">על שלט</a></li>
                    <li><a routerLink="/on-wheels">על גלגלים</a></li>
                    <li><a routerLink="/motorized">ממונעים</a></li>
                    <li><a routerLink="/pop-creation">מוצרי פופ ויצירה</a></li>
                    <li><a routerLink="/box-thinking">קופסא וחשיבה</a></li>
                    <li><a routerLink="/dolls-characters">בובות ודמויות</a></li>
                    <li><a routerLink="/kitchens-dallhouses">בתי בובות ומטבחים</a></li>
                    <li><a routerLink="/lego-gunz">לגו ורובים</a></li>
                    <li><a routerLink="/babies">תינוקות</a></li>
                    <li><a routerLink="/sports-courtyard">ספורט וחצר</a></li>
                </ul>
            </div>
        </mat-grid-tile>
    </mat-grid-list>
</div>
<!-- Line -->
<section class="cubeLine"></section>
<!-- Part B -->
<div class="partTwo">
    <mat-grid-list [cols]="breakpoint" (window:resize)="onResize($event)">
        <mat-grid-tile>
            <div class="searchAge0-5">0-5 חיפוש לפי גילאי</div>
            <a class="agesLink" routerLink="/age-0-18"><div class="age0-18">0-18<br>חודשיים</div></a>
            <a class="agesLink" routerLink="/age-18-36"><div class="age0-18">18-36<br>חודשיים</div></a>
            <a class="agesLink" routerLink="/age-3-5"><div class="age0-18">3-5<br>שנים</div></a>
            <img class="imageAges" src="https://tns-be.herokuapp.com/images/home-ages/ages.png" alt="center">
        </mat-grid-tile>
        <mat-grid-tile>
            <div class="spiderman">
                <div class="rope">
                    <div class="legs">
                        <div class="boot-l">
                            <div class="boot1">
                                <div class="boot2"></div>
                            </div>
                        </div>
                        <div class="boot-r">
                            <div class="boot1">
                                <div class="boot2"></div>
                            </div>
                        </div>
                    </div>
                    <div class="costume">
                        <div class="cntr">
                            <div class="spider">
                                <div class="s1"></div>
                                <div class="s2"></div>
                                <div class="s3"></div>
                                <div class="s4"></div>
                            </div>
                        </div>
                        <div class="belt"></div>
                        <div class="hand-r">
                            <div class="hand1"></div>
                        </div>
                        <div class="hand-l">
                            <div class="hand1"></div>
                        </div>
                        <div class="neck"></div>
                        <div class="mask">
                            <div class="eye-l"></div>
                            <div class="eye-r"></div>
                        </div>
                        <div class="cover"></div>
                    </div>
                </div>
            </div>
        </mat-grid-tile>
        <mat-grid-tile>
            <div class="searchAge0-5">6+ חיפוש לפי גילאי</div>
            <a class="agesLink" routerLink="/age-6-8"><div class="age0-18">6-8<br>שנים</div></a>
            <a class="agesLink" routerLink="/age-9-11"><div class="age0-18">9-11<br>שנים</div></a>
            <a class="agesLink" routerLink="/age-12"><div class="age0-18">12+<br>שנים</div></a>
            <img class="imageAges" src="https://tns-be.herokuapp.com/images/home-ages/ages2.png" alt="center">
        </mat-grid-tile>
    </mat-grid-list>
</div>
<!-- Line -->
<section class="cubeLine"></section>
<!-- Part C -->
<div class="partThree">
    <mat-grid-list [cols]="breakpoint" (window:resize)="onResize($event)">
        <mat-grid-tile>
            <a routerLink="/disney"><img class="imageCategory1" src="https://tns-be.herokuapp.com/images/home-categories/disney1.png" alt="center"></a>
            <a routerLink="/sammy-fireman"><img class="imageCategory2" src="https://tns-be.herokuapp.com/images/home-categories/fireman1.png" alt="center"></a>
            <a routerLink="/nerf"><img class="imageCategory3" src="https://tns-be.herokuapp.com/images/home-categories/nerf1.png" alt="center"></a>
            <a routerLink="/kodkod"><img class="imageCategory4" src="https://tns-be.herokuapp.com/images/home-categories/kodkod.png" alt="center"></a>
            <a routerLink="/fox-mind"><img class="imageCategory5" src="https://tns-be.herokuapp.com/images/home-categories/foxmind1.png" alt="center"></a>
        </mat-grid-tile>
        <mat-grid-tile>
            <div class="categoryText">קטגוריות מובילות</div>
            <div class="teddy"></div>
        </mat-grid-tile>
        <mat-grid-tile>
            <a routerLink="/barbie"><img class="imageCategory1" src="https://tns-be.herokuapp.com/images/home-categories/barbie1.png" alt="center"></a>
            <a routerLink="/paw-patrol"><img class="imageCategory2" src="https://tns-be.herokuapp.com/images/home-categories/adventure1.png" alt="center"></a>
            <a routerLink="/marvel"><img class="imageCategory3" src="https://tns-be.herokuapp.com/images/home-categories/marvel1.png" alt="center"></a>
            <a routerLink="/hatchimals"><img class="imageCategory4" src="https://tns-be.herokuapp.com/images/home-categories/hatchimals1.png" alt="center"></a>
            <a routerLink="/pj-masks"><img class="imageCategory5" src="https://tns-be.herokuapp.com/images/home-categories/pj.png" alt="center"></a>
        </mat-grid-tile>
    </mat-grid-list>
</div>

<router-outlet></router-outlet>
