<div class="hatchimalsProducts">
    <app-navbar-brands></app-navbar-brands>
    <app-heading>מוצרים של המותג אצי'מלס</app-heading>
    <hr>
    <mat-grid-list cols="3" rowHeight="2:1">
        <mat-grid-tile>
            <img class="imageHatchimals" src="/assets/images/all-brands/hatchimals/hatchimals2.png" alt="Left">
            <img class="imageHatchimals" src="/assets/images/all-brands/hatchimals/hatchimals3.png" alt="Left1">
        </mat-grid-tile>
        <mat-grid-tile>
            <img class="imageHatchimals1" src="/assets/images/all-brands/hatchimals/hatchimals1.png" alt="center">
        </mat-grid-tile>
        <mat-grid-tile>
            <img class="imageHatchimals" src="/assets/images/all-brands/hatchimals/hatchimals4.png" alt="Right">
            <img class="imageHatchimals" src="/assets/images/all-brands/hatchimals/hatchimals5.png" alt="Right1">
        </mat-grid-tile>
    </mat-grid-list>

    <div class="aboutHatchimals">
        <p>!ריכזנו עבורכם מבחר מוצרים מהמותג אצי'מלס</p>
        <p>מבחר מוצרי אצי'מלס, דמויות מסתוריות בכל מארז</p>
    </div>
    <hr>
    <div *ngFor="let product of hatchimalsProducts" class="allProducts">
        <mat-card>
            <mat-card-header>
                <mat-card-title>{{product.Product_Name}}</mat-card-title>
            </mat-card-header>
            <img mat-card-image src="/assets/images/products/{{product.Product_Image}}" alt="מוצרים">
            <div class="price">₪{{product.Product_Price}} :מחיר</div>
            <app-product-actions [product]="product"></app-product-actions>
        </mat-card>
    </div>

</div>
