<div class="hatchimalsProducts">
    <app-navbar-brands></app-navbar-brands>
    <app-heading>מוצרים של המותג אצי'מלס</app-heading>
    <hr>
    <mat-grid-list cols="3" rowHeight="2:1">
        <mat-grid-tile>
            <img class="imageHatchimals" src="/assets/images/all-brands/hatchimals/hatchimals2.png" alt="Left">
            <img class="imageHatchimals" src="/assets/images/all-brands/hatchimals/hatchimals3.png" alt="Left1">
        </mat-grid-tile>
        <mat-grid-tile>
            <img class="imageHatchimals1" src="/assets/images/all-brands/hatchimals/hatchimals1.png" alt="center">
        </mat-grid-tile>
        <mat-grid-tile>
            <img class="imageHatchimals" src="/assets/images/all-brands/hatchimals/hatchimals4.png" alt="Right">
            <img class="imageHatchimals" src="/assets/images/all-brands/hatchimals/hatchimals5.png" alt="Right1">
        </mat-grid-tile>
    </mat-grid-list>

    <div class="aboutHatchimals">
        <p>!ריכזנו עבורכם מבחר מוצרים מהמותג אצי'מלס</p>
        <p>מבחר מוצרי אצי'מלס, דמויות מסתוריות בכל מארז</p>
    </div>
    <hr>
    <div *ngFor="let product of hatchimalsProducts" class="allProducts">
        <mat-card>
            <mat-card-header>
                <mat-card-title>{{product.Product_Name}}</mat-card-title>
            </mat-card-header>
            <img mat-card-image src="/assets/images/products/{{product.Product_Image}}" alt="מוצרים">
            <div class="price">₪{{product.Product_Price}} :מחיר</div>
            <mat-card-actions>
                <div class="number-input">
                    <button onclick="this.parentNode.querySelector('input[type=number]').stepDown()"></button>
                    <input class="amountInput" type="number" #amount min="1" max="10" value="1" step="1" required>
                    <button class="plus"
                        onclick="this.parentNode.querySelector('input[type=number]').stepUp()"></button>
                </div>
                <br>
                <button mat-raised-button *ngIf="product.Product_In_Stock != 0" class="addToCartBtn">הוספה לעגלה</button>
                <button mat-raised-button class="soldOut" *ngIf="product.Product_In_Stock === 0">
                    אזל המלאי
                </button>
                <button mat-raised-button color="primary" (click)="onDetailsClicked(product)">מידע נוסף</button>
            </mat-card-actions>
        </mat-card>
    </div>

</div>
