<mat-toolbar class="navbar-all-brands">
    <nav>
        <a routerLink="/viper" routerLinkActive="active">Viper</a>
        <a routerLink="/fox-mind" routerLinkActive="active">Fox-Mind</a>
        <a routerLink="/disney" routerLinkActive="active">Disney</a>
        <a routerLink="/pj-masks" routerLinkActive="active">כוח-פיגי</a>
        <a routerLink="/lol" routerLinkActive="active">LOL</a>
        <a routerLink="/nerf" routerLinkActive="active">Nerf</a>
        <a routerLink="/kodkod" routerLinkActive="active">KodKod</a>
        <a routerLink="/barbie" routerLinkActive="active">ברבי</a>
        <a routerLink="/marvel" routerLinkActive="active">Marvel</a>
        <a routerLink="/sammy-fireman" routerLinkActive="active">סמי הכבאי</a>
        <a routerLink="/paw-patrol" routerLinkActive="active">מפרץ ההרפתקאות</a>
        <a routerLink="/hello-kitty" routerLinkActive="active">הלו קיטי</a>
        <a routerLink="/frozen" routerLinkActive="active">Frozen</a>
        <a routerLink="/creation" routerLinkActive="active">יצירה</a>
        <br><br>
        <a routerLink="/ninja-turtles" routerLinkActive="active">צבי הנינגה</a>
        <a routerLink="/ben-ten" routerLinkActive="active">בן 10</a>
        <a routerLink="/lego" routerLinkActive="active">Lego</a>
        <a routerLink="/fisher-price" routerLinkActive="active">Fisher-Price</a>
        <a routerLink="/play-mobil" routerLinkActive="active">Play-Mobile</a>
        <a routerLink="/hatchimals" routerLinkActive="active">Hatchimals</a>
    </nav>
</mat-toolbar>


<router-outlet></router-outlet>