<div class="playMobilProducts">
    <app-navbar-brands></app-navbar-brands>
    <app-heading>Play-Mobil מוצרים של חברת</app-heading>
    <hr>
    <mat-grid-list cols="3" rowHeight="2:1">
        <mat-grid-tile>
            <img class="imagePlayMobil" src="https://tns-be.herokuapp.com/images/all-brands/play-mobile/playMobile2.png" alt="Left">
            <img class="imagePlayMobil" src="https://tns-be.herokuapp.com/images/all-brands/play-mobile/playMobile3.png" alt="Left1">
        </mat-grid-tile>
        <mat-grid-tile>
            <img class="imagePlayMobil1" src="https://tns-be.herokuapp.com/images/all-brands/play-mobile/playMobile1.png" alt="center">
        </mat-grid-tile>
        <mat-grid-tile>
            <img class="imagePlayMobil" src="https://tns-be.herokuapp.com/images/all-brands/play-mobile/playMobile4.png" alt="Right">
            <img class="imagePlayMobil" src="https://tns-be.herokuapp.com/images/all-brands/play-mobile/playMobile5.png" alt="Right1">
        </mat-grid-tile>
    </mat-grid-list>

    <div class="aboutPlayMobil">
        <p>!Play-Mobil ריכזנו עבורכם מבחר מוצרים מהמותג</p>
        <p>פליימוביל נחשב לאחד המותגים המצליחים ביותר בתעשיית הצעצועים העולמית</p>
    </div>
    <hr>
    <div *ngFor="let product of playMobilProducts" class="allProducts">
        <mat-card>
            <mat-card-header>
                <mat-card-title>{{product.Product_Name}}</mat-card-title>
            </mat-card-header>
            <img mat-card-image src="/assets/images/products/{{product.Product_Image}}" alt="מוצרים">
            <div class="price">₪{{product.Product_Price}} :מחיר</div>
            <app-product-actions [product]="product"></app-product-actions>
        </mat-card>
    </div>

</div>
