<mat-toolbar class="navbar-searchByAge">
    <nav>
        <a routerLink="/age-0-18" routerLinkActive="active">גיל 0-18 חודשיים</a>
        <a routerLink="/age-18-36" routerLinkActive="active">גיל 18-36 חודשיים</a>
        <a routerLink="/age-3-5" routerLinkActive="active">גיל 3-5 שנים</a>
        <a routerLink="/age-6-8" routerLinkActive="active">גיל 6-8 שנים</a>
        <a routerLink="/age-9-11" routerLinkActive="active">גיל 9-11 שנים</a>
        <a routerLink="/age-12" routerLinkActive="active">גיל 12 פלוס</a>
    </nav>
</mat-toolbar>


<router-outlet></router-outlet>