<div class="viperProducts">
    <app-navbar-brands></app-navbar-brands>
    <app-heading>מוצרים של חברת וויפר</app-heading>
    <hr>
    <mat-grid-list cols="3" rowHeight="2:1">
        <mat-grid-tile>
            <img class="imageViper" src="/assets/images/all-brands/viper/viperLeft.jpg" alt="Left">
            <img class="imageViper" src="/assets/images/all-brands/viper/viperLeft1.jpg" alt="Left1">
        </mat-grid-tile>
        <mat-grid-tile>
            <img class="imageViper1" src="/assets/images/all-brands/viper/viperCenter.jpg" alt="center">
        </mat-grid-tile>
        <mat-grid-tile>
            <img class="imageViper" src="/assets/images/all-brands/viper/viperRight.jpg" alt="Right">
            <img class="imageViper" src="/assets/images/all-brands/viper/viperRight1.jpg" alt="Right1">
        </mat-grid-tile>
    </mat-grid-list>

    <div class="aboutViper">
        <p>!ריכזנו עבורכם מבחר מוצרים מהמותג וויפר</p>
        <p>חברה מובילה בתחום הסקייטבורד,קסדות,רולר בליידס וקורקינטים לילדים</p>
    </div>
    <hr>
    <div *ngFor="let product of viperProducts" class="allProducts">
        <mat-card>
            <mat-card-header>
                <mat-card-title>{{product.Product_Name}}</mat-card-title>
            </mat-card-header>
            <img mat-card-image src="/assets/images/products/{{product.Product_Image}}" alt="מוצרים">
            <div class="price">₪{{product.Product_Price}} :מחיר</div>
            <app-product-actions [product]="product"></app-product-actions>
        </mat-card>
    </div>

</div>
