.shipping-returns {
  background-image: url("https://tns-be.herokuapp.com/backgrounds/blueBg.png");
  text-align: center;
  font-weight: bold;
  padding: 20px;
}
.shipping-returns > div {
  color: white;
  font-size: 30px;
  text-shadow: 0 0 10px black;
}
.shipping-returns > p > a {
  color: white;
}
