<div class="shipping-returns">
    <app-heading>משלוחים וחזרות</app-heading>
    <hr>
    <div>סוגי משלוחים</div>
    <p>איסוף עצמי מהחנות שלנו בתחנה מרכזית דימונה (חנייה חינם מאחור) בימי א’-ה’ (לא כולל חגים וערבי חג) בשעות: 09:00-20:00 שישי 09:00-14:00</p>
    <p>איסוף מנקודת איסוף – איסוף ממבחר נקודות איסוף ברחבי הארץ תוך 4 ימי עסקים – 15 ש”ח</p>
    <p>איסוף מנקודת איסוף – איסוף ממבחר נקודות איסוף ברחבי הארץ תוך 4 ימי עסקים – חינם בהזמנות מעל 150 ש”ח</p>
    <p>שליח עד הבית תוך 5 ימי עסקים – 25 ש”ח. התחייבות ל- 4 ימי עסקים היא לכל הישובים בארץ, למעט ישובי רמת הגולן וגבול הצפון, יישובי בקעת הירדן, יישובים מעבר לקו הירוק, יישובי עוטף עזה</p>
    <p>שליח עד הבית תוך 4 ימי עסקים – חינם בהזמנות מעל 199 ש”ח</p>
    <div>החזרת מוצרים</div>
    <p>ניתן להחזיר את המוצר שרכשת עד 14 ימי עסקים מרגע קבלתו בדואר רשום</p>
    <p>במידה והשליחה נעשית דרך הדואר יש לכתוב על גבי החבילה – לכבוד:צעצועים ללא הפסקה תחנה מרכזית דימונה</p>
    <p>במידה וההחזרה נעשית באופן עצמאי יש להגיע לחנות בתחנה המרכזית בדימונה</p>
    <p>יש לוודא שלא נעשה במוצר כל שימוש וכי הוא נמצא באריזתו המקורית – שלא נפתחה</p>
    <p>ברגע שהחבילה תגיע אלינו חזרה יבוצע ההחזר בהתאם לבקשתך ועדכון יישלח במייל</p>
    <p>בכל החזרת מוצר יש לוודא כי החבילה ארוזה באופן שלא יפגע בפריט עד הגעתו אלינו. יש לארוז את המוצר בהתאם, כל מוצר שיגיע פגום לא יקבל זיכוי</p>
    <p>לכל שאלה יש לפנות <a routerLink="/contact">צור קשר</a></p>
    <div>!קנייה נעימה</div>
</div>