<div class="search">
    <app-heading>חיפוש מוצר</app-heading>
    <hr>
    <mat-grid-list [cols]="breakpoint" (window:resize)="onResize($event)" rowHeight="2:1">
        <mat-grid-tile>
            <img class="searchImages" src="https://tns-be.herokuapp.com/backgrounds/searchRight.png" alt="טוען">
        </mat-grid-tile>
        <mat-grid-tile>
                <input type="search"
                       [placeholder]="'חפש מוצר שברצונך לרכוש'"
                       [id]="'id'"
                       [(ngModel)]="searchValue"
                       [formControl]="searchTerm" class="searchField">
        </mat-grid-tile>
        <mat-grid-tile>
            <img class="searchImages" src="https://tns-be.herokuapp.com/backgrounds/searchLeft.png" alt="טוען">
        </mat-grid-tile>
    </mat-grid-list>


    <img *ngIf="!searchValue" class="imageRobo" src="https://tns-be.herokuapp.com/backgrounds/loading.gif" alt="טוען">
    <div *ngIf="searchValue" class="searchResults">תוצאות חיפוש</div>
    <div *ngFor="let product of items" class="allProducts">
        <mat-card>
            <mat-card-header>
                <mat-card-title>{{product.Product_Name}}</mat-card-title>
            </mat-card-header>
            <img mat-card-image src="/assets/images/products/{{product.Product_Image}}" alt="מוצרים">
            <div class="price">₪{{product.Product_Price}} :מחיר</div>
            <app-product-actions [product]="product"></app-product-actions>
        </mat-card>
    </div>
</div>
