<mat-toolbar class="navbar-rightCategories">
        <nav>
            <a routerLink="/on-remote" routerLinkActive="active">על שלט</a>
            <a routerLink="/on-wheels" routerLinkActive="active">על גלגלים</a>
            <a routerLink="/motorized" routerLinkActive="active">ממונעים</a>
            <a routerLink="/pop-creation" routerLinkActive="active">מוצרי פופ ויצירה</a>
            <a routerLink="/box-thinking" routerLinkActive="active">קופסא וחשיבה</a>
            <a routerLink="/dolls-characters" routerLinkActive="active">בובות ודמויות</a>
            <a routerLink="/kitchens-dallhouses" routerLinkActive="active">מטבחים ובתי בובות</a>
            <a routerLink="/lego-gunz" routerLinkActive="active">לגו ורובים</a>
            <a routerLink="/babies" routerLinkActive="active">תינוקות</a>
            <a routerLink="/sports-courtyard" routerLinkActive="active">ספורט וחצר</a>
        </nav>
</mat-toolbar>


<router-outlet></router-outlet>