.navbar-rightCategories {
  background-color: white;
  justify-content: center;
}
.navbar-rightCategories > nav > a {
  color: cornflowerblue;
  border: 8px solid transparent;
  text-decoration: none;
  border-image: url("https://tns-be.herokuapp.com/backgrounds/navsBorder.jpg") 10% round;
  padding: 5px;
  margin: 3px;
}
.navbar-rightCategories > nav > a:hover {
  color: white;
  text-shadow: 0 0 5px black;
}
.navbar-rightCategories > nav > a.active {
  color: black;
}

@media only screen and (max-width: 600px) {
  .navbar-rightCategories{display: table-cell;white-space: normal}
  .navbar-rightCategories > nav > a {border: none;}
}
