<div class="box-thinking">
    <app-navbar-right></app-navbar-right>
    <app-heading>קופסא וחשיבה</app-heading>
    <hr>
    <img *ngIf="loader" class="imageRobo" src="https://tns-be.herokuapp.com/backgrounds/loading.gif" alt="טוען">
    <div *ngIf="!loader">
        <div class="about-box-thinking">
            <img class="imageAbout" src="https://tns-be.herokuapp.com/images/right-side-categories/box-thinking/boxThinkingLeft.jpg"
                alt="boxThinkingLeft">
            <p>הכירו את קטגוריית משחקי קופסא וחשיבה הכי מדליקה שיש!
                משחקי חשיבה והיגיון מיוחדים ומדליקים, התורמים לפיתוח מיומנויות חשיבה ואסטרטגיה.
                כל המשחקים הכי חדשים במקום אחד! אז למה אתם מחכים</p>
            <img class="imageAbout" src="https://tns-be.herokuapp.com/images/right-side-categories/box-thinking/boxThinkingRight.jpg"
                alt="boxThinkingRight">
        </div>
        <hr>
        <div class="categoryText">&darr; קטגוריות &darr;</div>
        <mat-tab-group mat-align-tabs="center">
            <mat-tab label="כל המוצרים">
                <div *ngFor="let product of boxThinkingProducts" class="allProducts">
                    <mat-card>
                        <mat-card-header>
                            <mat-card-title>{{product.Product_Name}}</mat-card-title>
                        </mat-card-header>
                        <img mat-card-image src="https://toysnonstop-images.s3.eu-west-3.amazonaws.com/assets/products/{{product.Product_Image}}" alt="מוצרים">
                        <div class="price">₪{{product.Product_Price}} :מחיר</div>
                        <app-product-actions [product]="product"></app-product-actions>
                    </mat-card>
                </div>
            </mat-tab>
            <mat-tab label="פאזלים">
                <div *ngFor="let product of boxThinkingProducts" class="allProducts">
                    <mat-card *ngIf="product.Product_Category==='פאזלים'">
                        <mat-card-header>
                            <mat-card-title>{{product.Product_Name}}</mat-card-title>
                        </mat-card-header>
                        <img mat-card-image src="https://toysnonstop-images.s3.eu-west-3.amazonaws.com/assets/products/{{product.Product_Image}}" alt="מוצרים">
                        <div class="price">₪{{product.Product_Price}} :מחיר</div>
                        <app-product-actions [product]="product"></app-product-actions>
                    </mat-card>
                </div>
            </mat-tab>
            <mat-tab label="אסטרטגיה">
                <div *ngFor="let product of boxThinkingProducts" class="allProducts">
                    <mat-card *ngIf="product.Product_Category==='קופסא אסטרטגיה'">
                        <mat-card-header>
                            <mat-card-title>{{product.Product_Name}}</mat-card-title>
                        </mat-card-header>
                        <img mat-card-image src="https://toysnonstop-images.s3.eu-west-3.amazonaws.com/assets/products/{{product.Product_Image}}" alt="מוצרים">
                        <div class="price">₪{{product.Product_Price}} :מחיר</div>
                        <app-product-actions [product]="product"></app-product-actions>
                    </mat-card>
                </div>
            </mat-tab>
            <mat-tab label="חשיבה">
                <div *ngFor="let product of boxThinkingProducts" class="allProducts">
                    <mat-card *ngIf="product.Product_Category==='קופסא חשיבה'">
                        <mat-card-header>
                            <mat-card-title>{{product.Product_Name}}</mat-card-title>
                        </mat-card-header>
                        <img mat-card-image src="https://toysnonstop-images.s3.eu-west-3.amazonaws.com/assets/products/{{product.Product_Image}}" alt="מוצרים">
                        <div class="price">₪{{product.Product_Price}} :מחיר</div>
                        <app-product-actions [product]="product"></app-product-actions>
                    </mat-card>
                </div>
            </mat-tab>
            <mat-tab label="זיכרון">
                <div *ngFor="let product of boxThinkingProducts" class="allProducts">
                    <mat-card *ngIf="product.Product_Category==='קופסא זיכרון'">
                        <mat-card-header>
                            <mat-card-title>{{product.Product_Name}}</mat-card-title>
                        </mat-card-header>
                        <img mat-card-image src="https://toysnonstop-images.s3.eu-west-3.amazonaws.com/assets/products/{{product.Product_Image}}" alt="מוצרים">
                        <div class="price">₪{{product.Product_Price}} :מחיר</div>
                        <app-product-actions [product]="product"></app-product-actions>
                    </mat-card>
                </div>
            </mat-tab>
            <mat-tab label="למידה">
                <div *ngFor="let product of boxThinkingProducts" class="allProducts">
                    <mat-card *ngIf="product.Product_Category==='קופסא למידה'">
                        <mat-card-header>
                            <mat-card-title>{{product.Product_Name}}</mat-card-title>
                        </mat-card-header>
                        <img mat-card-image src="https://toysnonstop-images.s3.eu-west-3.amazonaws.com/assets/products/{{product.Product_Image}}" alt="מוצרים">
                        <div class="price">₪{{product.Product_Price}} :מחיר</div>
                        <app-product-actions [product]="product"></app-product-actions>
                    </mat-card>
                </div>
            </mat-tab>
            <mat-tab label="קלפים">
                <div *ngFor="let product of boxThinkingProducts" class="allProducts">
                    <mat-card *ngIf="product.Product_Category==='קופסא קלפים'">
                        <mat-card-header>
                            <mat-card-title>{{product.Product_Name}}</mat-card-title>
                        </mat-card-header>
                        <img mat-card-image src="https://toysnonstop-images.s3.eu-west-3.amazonaws.com/assets/products/{{product.Product_Image}}" alt="מוצרים">
                        <div class="price">₪{{product.Product_Price}} :מחיר</div>
                        <app-product-actions [product]="product"></app-product-actions>
                    </mat-card>
                </div>
            </mat-tab>
            <mat-tab label="שחמט ודמקה">
                <div *ngFor="let product of boxThinkingProducts" class="allProducts">
                    <mat-card *ngIf="product.Product_Category==='קופסא שחמט דמקה'">
                        <mat-card-header>
                            <mat-card-title>{{product.Product_Name}}</mat-card-title>
                        </mat-card-header>
                        <img mat-card-image src="https://toysnonstop-images.s3.eu-west-3.amazonaws.com/assets/products/{{product.Product_Image}}" alt="מוצרים">
                        <div class="price">₪{{product.Product_Price}} :מחיר</div>
                        <app-product-actions [product]="product"></app-product-actions>
                    </mat-card>
                </div>
            </mat-tab>
            <mat-tab label="רמיקוב">
                <div *ngFor="let product of boxThinkingProducts" class="allProducts">
                    <mat-card *ngIf="product.Product_Category==='קופסא רמיקוב'">
                        <mat-card-header>
                            <mat-card-title>{{product.Product_Name}}</mat-card-title>
                        </mat-card-header>
                        <img mat-card-image src="https://toysnonstop-images.s3.eu-west-3.amazonaws.com/assets/products/{{product.Product_Image}}" alt="מוצרים">
                        <div class="price">₪{{product.Product_Price}} :מחיר</div>
                        <app-product-actions [product]="product"></app-product-actions>
                    </mat-card>
                </div>
            </mat-tab>
            <mat-tab label="מונופול">
                <div *ngFor="let product of boxThinkingProducts" class="allProducts">
                    <mat-card *ngIf="product.Product_Category==='קופסא מונופול'">
                        <mat-card-header>
                            <mat-card-title>{{product.Product_Name}}</mat-card-title>
                        </mat-card-header>
                        <img mat-card-image src="https://toysnonstop-images.s3.eu-west-3.amazonaws.com/assets/products/{{product.Product_Image}}" alt="מוצרים">
                        <div class="price">₪{{product.Product_Price}} :מחיר</div>
                        <app-product-actions [product]="product"></app-product-actions>
                    </mat-card>
                </div>
            </mat-tab>
        </mat-tab-group>
    </div>
</div>
