<div class="forget-password">
    <app-heading>שיחזור סיסמא</app-heading>
    <hr>
    <mat-grid-list [cols]="breakpoint" (window:resize)="onResize($event)">
        <mat-grid-tile class="part-A-forgetPass-image">
            <img class="imageForgetPass" src="https://tns-be.herokuapp.com/images/forgetPass/leftSide.png" alt="left">
        </mat-grid-tile>
        <mat-grid-tile class="part-B-forgetPassForm">
            <!-- Loader -->
            <mat-spinner class="spinner" *ngIf="loader" mode="indeterminate"></mat-spinner>
            <!-- Email form -->
            <form *ngIf="!loader && !secretCodeForm && !resetPassForm" [formGroup]="getEmailForm" class="getEmailForm" novalidate>
                <mat-form-field hintLabel="כתובת הדואר האלקטרוני איתה נרשמת לאתר" appearance="fill">
                    <mat-label>אימייל</mat-label>
                    <input matInput type="email" name="Email" placeholder="אימייל" [(ngModel)]="login.Email"
                        formControlName="Email" maxlength="30" required>
                    <mat-error *ngIf="getEmailForm.get('Email').hasError('required')">אימייל חסר</mat-error>
                    <mat-error *ngIf="getEmailForm.get('Email').hasError('pattern')">אימייל לא תקין</mat-error>
                    <mat-error *ngIf="getEmailForm.get('Email')?.errors?.emailNotExist">אימייל לא קיים במערכת</mat-error>
                </mat-form-field><br><br>
                <button mat-button type="button" class="mat-raised-button mat-primary"
                [disabled]="!getEmailForm.valid" (click)="sendEmail()" >שחזר סיסמא</button>
            </form>
            <!-- Secret code form -->
            <div *ngIf="!loader && !resetPassForm && secretCodeForm" class="confirmCode">
                <div class="codeText">קוד סודי</div>
                <input class="codeInput" type="text" [(ngModel)]="secretCodeInput" name="codeInput" placeholder="רשום את הקוד הסודי"
                minlength="30" max="60" #codeInfo="ngModel" required><br>
                <mat-error *ngIf="codeInfo.errors?.required && codeInfo.touched">חסר קוד סודי</mat-error>
                <mat-error *ngIf="codeInfo.errors?.minlength && codeInfo.touched">מינימום 30 אותיות לקוד הסודי</mat-error>
                <mat-error *ngIf="codeInfo.touched?'':secretCodeError">{{secretCodeError}}</mat-error><br><br>
                <button mat-button type="button" class="mat-raised-button mat-primary"
                [disabled]="secretCodeInput.length < 30" (click)="sendCode(secretCodeInput)" >שלח קוד סודי</button>
            </div>
            <!-- Passwords form -->
            <form *ngIf="!loader && !secretCodeForm && resetPassForm" [formGroup]="newPasswordForm" class="newPasswordForm" novalidate>
                <mat-form-field hintLabel="מינימום 3 תווים" appearance="fill">
                    <mat-label>סיסמא</mat-label>
                    <input matInput type="password" name="Password" placeholder="רשום סיסמא" [(ngModel)]="login.Password"
                      formControlName="Password" [type]="hidePassword ? 'password':'text'" minlength="3" maxlength="20" required>
                    <mat-icon matSuffix (click)="hidePassword = !hidePassword">
                      {{hidePassword ? 'visibility': 'visibility_off'}}
                    </mat-icon>
                    <mat-error *ngIf="newPasswordForm.get('Password').hasError('required')">סיסמא חסרה</mat-error>
                    <mat-error *ngIf="newPasswordForm.get('Password').hasError('minlength')">מינימום 3 תווים</mat-error>
                  </mat-form-field>

                  <br><br>
                  <mat-form-field hintLabel="אשר סיסמא" appearance="fill">
                    <mat-label>אשר סיסמא</mat-label>
                    <input matInput type="password" name="confirmPassword" placeholder="אשר סיסמא"
                      [(ngModel)]="login.confirmPassword" formControlName="confirmPassword" minlength="3" maxlength="20"
                      [type]="hideConfirmPassword ? 'password':'text'" required>
                    <mat-icon matSuffix (click)="hideConfirmPassword = !hideConfirmPassword">
                      {{hideConfirmPassword ? 'visibility': 'visibility_off'}}
                    </mat-icon>
                    <mat-error *ngIf="newPasswordForm.get('confirmPassword')?.errors?.required">אישור סיסמא חסר</mat-error>
                    <mat-error *ngIf="newPasswordForm.get('confirmPassword').hasError('minlength')">מינימום 3 תווים</mat-error>
                    <mat-error *ngIf="newPasswordForm.get('confirmPassword')?.errors?.notEquivalent">סיסמאות לא שוות</mat-error>
                  </mat-form-field><br><br>
                <button mat-button type="button" class="mat-raised-button mat-primary"
                [disabled]="!newPasswordForm.valid" (click)="sendNewPassword()">סיום</button>
            </form>
        </mat-grid-tile>
        <mat-grid-tile class="part-C-forgetPass-text">
            <div class="forgetPassRules">
                <hr>
                <p *ngIf="!secretCodeForm && !resetPassForm">. שיחזור סיסמא למשתמש לפי אימייל  *</p>
                <p *ngIf="!secretCodeForm && !resetPassForm">. יש לרשום את כתובת המייל איתה נרשמת לאתר  *</p>
                <p *ngIf="!secretCodeForm && !resetPassForm">. נא לרשום את הפרטים במדויק  *</p>
                <p *ngIf="!secretCodeForm && !resetPassForm">. אחרי שליחת המייל,ישלח קוד סודי לאימייל  *</p>
                <p *ngIf="secretCodeForm">. נא לבדוק את האימייל,קוד סודי נשלח  *</p>
                <p *ngIf="secretCodeForm">. נא לרשום את הקוד הסודי  *</p>
                <p *ngIf="secretCodeForm">. לאחר שליחת הקוד הסודי תוכל לאפס את סיסמתך  *</p>
                <p *ngIf="resetPassForm">. נא לרשום סיסמא חזקה  *</p>
                <p *ngIf="resetPassForm">. לשמור את הסיסמא החדשה בפתקים,מספר וכ'ו  *</p>
                <p *ngIf="resetPassForm">. בסיום הפעולה סיסמתך החדשה תשמר  *</p>
                <p>. בכל בעיה \ התייעצות \ שאלה יש לפנות <a class="forgetLinks" routerLink="/contact">יצירת קשר</a>  *</p>
                <hr>
              </div>
        </mat-grid-tile>
    </mat-grid-list>
</div>
