.forget-password {
  background-image: url("/assets/backgrounds/blueBg.png");
  text-align: center;
  height: 520px;
}
::ng-deep .mat-form-field-appearance-fill .mat-form-field-infix {
  text-align: center;
  width: 230px;
  font-weight: bold;
}

/* part a image */
.imageForgetPass{
  width: 370px;
  height: 370px;
  border: 5px double black;
  border-radius:27%;
  box-shadow: 3px 3px 10px white;
}

/* part b email form */
.getEmailForm {
  border: 5px double black;
  background-color: white;
  padding: 30px;
  direction: rtl;
}

/* part c forget password rules */
.forgetPassRules > p {
  font-weight: bold;
  font-size: 18px;
}
.forgetLinks {
  color: white;
}
.forgetLinks:hover {
  color: black;
}

/* spinner */
.spinner{
  background-color: white;
  border-radius: 30px;
}

/* Confirm code */
.confirmCode{
  border: 5px double black;
  background-color: white;
  width: 300px;
  height: 180px;
}
.codeText{
  font-weight: bold;
  font-size: 24px;
  text-decoration-line: underline;
  text-decoration-style: double;
  margin-bottom: 15px;
}
.codeInput{
  text-align: center;
  width: 90%;
  height: 30px;
  border: 3px double black;
}

/* new password form */
.newPasswordForm{
  border: 5px double black;
  background-color: white;
  width: 300px;
  height: 270px;
  padding: 10px;
}